%h1
  Pick a Password
- form_for @person, :url => password_reset_path, :method => :put do |f|
  = f.error_messages
  = f.label :password
  %br
  = f.password_field :password
  %br
  %br
  = f.label :password_confirmation
  %br
  = f.password_field :password_confirmation
  %br
  %br
  = f.submit "Give me that password and log me in"
