.row_odd.account_details
  - unless registration_page
    .arrow_lead_in
  -if form.object.login_set_by_user?
    .col_full.hide
      = form.label :login, "Username."
      = form.text_field :login
  -else
    .col_full
      = form.label :login, "Username."
      = form.text_field :login, :value => ''
  .col_odd
    %input{:type=>"hidden", :name=>"pid", :value=>resource.id}
    = form.label :password, "Password."
    -if form.object.login_set_by_user?
      = form.password_field :password
    -else
      = form.password_field :password, :value=>''
  .col_even
    = form.label :password_confirmation, "Confirm password."
    -if form.object.login_set_by_user?
      = form.password_field :password_confirmation
    -else
      = form.password_field :password_confirmation, :value=>''
  -if registration_page
    .col_odd
      = form.label :email, "Email address."
      = form.text_field :email
    .col_even
      = form.label :name, "Your name."
      = form.text_field :name
  .col_odd
    = form.label :avatar, "Profile picture."
    = form.file_field :avatar
    - if resource.avatar.exists?
      = image_tag resource.avatar.url(:medium)
      .form_input
        %input{ :type=>"checkbox", :id => "delete_avatar", :name=>"delete_avatar", :value=>1, :checked => false } 
        %label.label-radio.label-radio-person_public_profile{:for => "delete_avatar"} Remove this picture. 
  .col_even
    = form.label :one_line_bio, "One line bio."
    = form.text_area :one_line_bio, :maxlength => 140, :rows => 5, :cols => 34
  .col_odd
    = form.label :public_profile, "Are you happy for other people to see your profile?", :class => 'public_profile'
    .form_input
      = form.radio_button(:public_profile, true)
      = form.label "public_profile_true", "I'm happy to make my profile public.", :class => 'label-radio label-radio-person_public_profile'
      %br
      = form.radio_button(:public_profile, false)
      = form.label "public_profile_false", "No no, I want to stay anonymous", :class => 'label-radio label-radio-person_public_profile'
  -unless registration_page
    .col_even
      .form_input.email_opt_in
        %p Read all about it.
        = form.check_box(:email_opt_in, :class => 'email_opt_in')
        = form.label :email_opt_in, "Want to recieve our newsletter", :class => 'label-radio label-radio-person_public_profile'
      .form_input.policy_check
        = form.check_box(:policy_checked, :class => 'policy_checkbox')
        = form.label :policy_checked, "Yes yes, of course I accept the <a href=\"/terms\" title=\"Terms of Service\" target=\"_blank\">Terms & Conditions</a>",:class => 'label-checkbox'
        
  %div.clear