.row_odd.account_details
  - if registration_page
    %p.social_networks
      = link_to image_tag("icons/connect_with_facebook.png"),"/auth/facebook"
      = link_to image_tag("icons/connect_with_twitter.png"), "/auth/twitter"
      %span.permission
        Don't worry, we won't post anything without your permission. We hate that too.

    %h3.create_account
      Create an account with us below
      %span.description
        No thanks, I'll
        = link_to 'skip this step', resource_path
        for now.
  - else
    .arrow_lead_in
  - if ! form.object.anonymous?
    .col_full.hide
      - form.fields_for :user do |uf|
        = uf.label :login, "Username"
        = uf.text_field :login
  - else
    .col_full.login
      - form.fields_for :user do |uf|
        = uf.label :login, "Choose a username", :class => "main"
        = uf.label :login, "mindapples.org/person/", :class => "url"
        = uf.text_field :login
  - if registration_page
    .col_odd
      = form.label :name, "Your name"
      = form.text_field :name
    .col_even
      = form.label :email, "Email"
      = form.text_field :email
  .col_odd
    %input{:type=>"hidden", :name=>"pid", :value=>resource.id}
    - form.fields_for :user do |uf|
      = uf.label :password, "Password"
      = uf.password_field :password, :value => ''
  .col_even.password_confirmation
    - form.fields_for :user do |uf|
      = uf.label :password_confirmation, "Confirm password"
      = uf.password_field :password_confirmation, :value => ''
  .col_odd
    = form.label :one_line_bio, "A little bit about you..."
    = form.text_area :one_line_bio, :maxlength => 140, :rows => 5, :cols => 34
  .col_even.profile_picture
    = form.label :avatar, "Profile picture"
    = image_tag resource.avatar.url(:small), :class => "current_profile_picture"
    .text
      - unless resource.avatar.exists?
        %span.description
          Is this what you look like?
          %br
          Thought not. Upload a picture.
      = form.file_field :avatar, :size  => 10
      - if resource.avatar.exists?
        .form_input
          %input{ :type=>"checkbox", :id => "delete_avatar", :name=>"delete_avatar", :value=>1, :checked => false }
          %label.label-radio.label-radio-person_public_profile{:for => "delete_avatar"} Remove this picture.
  .col_odd
    = form.label :public_profile, "Are you happy for other people to see your profile?", :class => 'public_profile'
    .form_input
      = form.radio_button :public_profile, true
      = form.label "public_profile_true", "I'm happy to make my profile public.", :class => 'label-radio label-radio-person_public_profile'
      %br
      = form.radio_button :public_profile, false
      = form.label "public_profile_false", "No no, I want to stay anonymous", :class => 'label-radio label-radio-person_public_profile'
  - unless registration_page
    .col_even
      .form_input.email_opt_in
        %p Read all about it.
        = form.check_box(:email_opt_in, :class => 'email_opt_in')
        = form.label :email_opt_in, "Want to receive our newsletter", :class => 'label-radio label-radio-person_public_profile'
      .form_input.policy_check
        = form.check_box(:policy_checked, :class => 'policy_checkbox')
        = form.label :policy_checked, "Yes yes, of course I accept the <a href=\"/terms\" title=\"Terms of Service\" target=\"_blank\">Terms & Conditions</a>",:class => 'label-checkbox'
        
  %div.clear
