.row_even.extra_details
  .arrow_lead_in
  .col_full.brain_dump
    = form.label :braindump, "Brain dump. <span class='description'>Anything else you'd like to tell us? What else do you need to look after your mind?</span>"
    = form.text_area :braindump
  .col_odd
    = form.label :gender, "Venus and Mars. <span class='description'>What's your gender?</span>"
    .form_input
      = form.radio_button(:gender, "f")
      = form.label "gender_f", "Female", :class => 'label-radio'
      = form.radio_button(:gender, "m")
      = form.label "gender_m", "Male", :class => 'label-radio'
      = form.radio_button(:gender, "c")
      = form.label "gender_c", "It's complicated", :class => 'label-radio'
  .col_even
    = form.label :age, "Age check. <span class='description'>How old are you?</span>"
    .form_input
      = form.select :age, [["(This helps us compare generations...)", ""], "Under 16", "16-24", "25-34", "35-44", "45-54", "55-64", "65 or over"]
  .col_odd
    = form.label :occupation, "Your thing. <span class='description'>What's your occupation, paid or not?</span>"
    = form.text_field :occupation
  .col_even
    = form.label :location, "Passport."
    = form.text_field :location
  .col_full.health_check
    = form.label :health_check, "Health check. <span class='description'>How would you rate your mental health? </span><span class='description_highlight'>(1 is bad, 5 good)</span>"
    .form_input
      = form.label "health_check_1", "1 (Hmmm)", :class => 'label-radio'
      = form.radio_button("health_check", "1", :class => 'label-radio')
      = form.radio_button("health_check", "2", :class => 'label-radio')
      = form.radio_button("health_check", "3", :class => 'label-radio')
      = form.radio_button("health_check", "4", :class => 'label-radio')
      = form.radio_button("health_check", "5", :class => 'label-radio')
      = form.label "health_check_5", "5 (Ommm)", :class => 'label-radio'
  .col_odd
    = form.label :email, "E-mail us! <span class='description'>Leave your e-mail and we'll post you your mindapples. </span><span class='description_highlight'>(never made public)</span>"
    = form.text_field :email
  .col_even
    = form.label :name, "Be proud. <span class='description'>What's your name? </span><br/><span class='description_highlight'>(very optional)</span>"
    = form.text_field :name
  - if form.object.new_record?
    .col_odd
      %p.information_usage We will use this information to find out... to research... to collate... to put together recommendations... make suggestions to others, we will not use your name or email address in doing so.
    .col_even
      .form_input.email_opt_in
        %p Read all about it.
        = form.check_box(:email_opt_in, :class => 'email_opt_in')
        = form.label :email_opt_in, "Want to recieve our newsletter", :class => 'label-radio label-radio-person_public_profile'
      .form_input.policy_check
        = form.check_box(:policy_checked, :class => 'policy_checkbox')
        = form.label :policy_checked, "Yes yes, of course I accept the <a href=\"/terms\" title=\"Terms of Service\" target=\"_blank\">Terms & Conditions</a>",:class => 'label-checkbox'
    = image_submit_tag '/images/buttons/submit.png', :class => "submit-form", :alt => "Submit"
  %div.clear
  
  - form_for UserSession.new, :url => user_session_path, :html => { :method => :post, :class => "authentication_form" } do |f|
    = f.error_messages
    / authentication_type should be "user" or "session", based on controller
    = oauth_login_hidden_input
    = image_tag "/images/icons/twitter.png"
    = radio_button_tag :oauth_provider, 'twitter'
    = submit_tag "Login", :class => :submit

- unless form.object.new_record?
  = render :partial => 'account_details', :locals => { :form => form, :registration_page => false}