.clear.brain-dump.below-shelf
  = form.label :braindump, "Brain dump. <span class='description'>Anything else you'd like to tell us? What else do you need to stay mentally healthy?</span>"
  = form.text_area :braindump
.col-odd.radio-input
  = form.label :gender, "Venus and Mars. <span class='description'>What's your gender?</span>"
  = form.radio_button(:gender, "f")
  = form.label "gender_f", "Female", :class => 'label-radio'
  = form.radio_button(:gender, "m")
  = form.label "gender_m", "Male", :class => 'label-radio'
  = form.radio_button(:gender, "c")
  = form.label "gender_c", "It's complicated", :class => 'label-radio'
  
.col-even
  = form.label :age, "Age check. <span class='description'>How old are you?</span>"
  = form.select :age, [["(This helps us compare different generations...)", ""], "Under 16", "16-24", "25-34", "35-44", "45-54", "55-64", "65 or over"]
.col-odd
  = form.label :occupation, "Your thing. <span class='description'>What's your occupation, paid or no?</span>"
  = form.text_field :occupation
.col-even
  = form.label :location, "Passport control. <span class='description'>Where do you live?</span>"
  = form.text_field :location
.col-odd.radio-input
  = form.label :health_check, "Health check. <span class='description'>How would you rate your mental health? </span><span class='description-light'>(1 is bad, 5 good)</span>"
  = form.label "health_check_1", "1 (Hmmm)", :class => 'label-radio'
  = form.radio_button("health_check", "1")
  = form.radio_button("health_check", "2")
  = form.radio_button("health_check", "3")
  = form.radio_button("health_check", "4")
  = form.radio_button("health_check", "5")
  = form.label "health_check_5", "5 (Ommm)", :class => 'label-radio'
.col-even
  = form.label :name, "Be proud. <span class='description'>What's your name? </span><span class='description-light'>(very optional)</span>"
  = form.text_field :name
.hr.clear  
  %hr
.col-odd
  = form.label :email, "Don't go! <span class='description'>Leave your e-mail and we'll send you occasional messages. </span><span class='description-light'>(never made public)</span>"
  = form.text_field :email
-if form.object.login_set_by_user?
  %div{:class => 'col-evend hide'}
    = form.text_field :login
-else
  .col-even
    = form.label :login, "Join us. <span class='description'>Choose a username for your Mindapples account.</span><span class='description-light'>(careful, you can only choose once)</span>"
    = form.text_field :login
.col-odd
  = form.label :password, "Come back. <span class='description'>Pick a password to edit your mindapples later.</span>"
  = form.password_field :password
.col-even
  = form.label :password_confirmation, "<span class='description'>Once more with the password please, in case of typos...</span>"
  = form.password_field :password_confirmation
.col-odd.radio-input
  = form.label :public_profile, "Show yourself. <span class='description'>Are you happy for others to see your profile?</span>"
  = form.radio_button(:public_profile, true)
  = form.label "public_profile_true", "Yes, I'm happy to make my profile public on Mindapples.org", :class => 'label-radio'
  %br
  = form.radio_button(:public_profile, false)
  = form.label "public_profile_false", "No, I want to stay anonymous please", :class => 'label-radio'
.col-even
  = form.check_box(:policy_checked, :class => 'policy_checkbox')
  = form.label :policy_checked, "Yes yes, of course I accept your <a href=\"/terms\" title=\"Terms of Service\">Terms & Conditions</a>",:class => 'label-radio'

  - unless resource.policy_checked
    %span{:class=>"policy_checkbox red"} Please keep our laywers happy by ticking the box to say you agree to our terms and conditions. Otherwise they'll worry.
.hr.clear
  %hr
