- form_for resource, :html => { :class => "survey", :multipart => true} do |person_form|
  = error_messages_for(:person, :header_message => header_error_message(resource.errors.count), :message => "")
  
  .the_test
    .inner
      .five_things
        %h1 Important bit.
        .description 
          What five things do you do every day, or regularly, to look after your mind?
      = render(:partial => 'mindapples_entry', :locals => { :form => person_form })
      = render(:partial => 'entry', :locals => { :form => person_form })
      - if @network
        = person_form.hidden_field(:network_url, :value => @network.url)
      - elsif params[:network]
        = person_form.hidden_field(:network_url, :value => params[:network])
      = image_submit_tag '/images/buttons/submit.png', :class => "submit-form", :alt => "Submit"
      = oauth_register_button :value => "Register with Twitter"
      
      %div.clear
