- form_for resource, :html => { :class => "survey", :multipart => true} do |person_form|
  = error_messages_for(:person, :header_message => header_error_message(resource.errors.count), :message => "")
  
  .the_test
    .inner
      .five_things
        %h1 Important bit.
        .description 
          What five things do you do every day, or regularly, to look after your mind?
      = render(:partial => 'mindapples_entry', :locals => { :form => person_form })
      = render(:partial => 'entry', :locals => { :form => person_form })
      - if @network
        = person_form.hidden_field(:network_url, :value => @network.url)
      - elsif params[:network]
        = person_form.hidden_field(:network_url, :value => params[:network])
      -unless person_form.object.new_record?
        = image_submit_tag '/images/buttons/submit.png', :class => "submit-form", :alt => "Submit"
      %div.clear


- form_for UserSession.new, :url => user_session_path, :html => { :method => :post, :class => "authentication_form" } do |f|
  = f.error_messages
  / authentication_type should be "user" or "session", based on controller
  = oauth_login_hidden_input
  = image_tag "/images/icons/twitter.png"
  = radio_button_tag :oauth_provider, 'twitter'
  = submit_tag "Login", :class => :submit