- content_for :head do
  = set_focus_to_id('person_mindapples_attributes_0_suggestion')
  
  
.take_the_test
  .inner
    = render :partial => 'networks/network_details'
    - if current_person
      - name_for_view = current_person.name_for_view
      - if name_for_view
        - name = "'%s'." % name_for_view
      - else
        - name = "an anonymous user."
      %p
        You're already logged in as
        = name
        You can still share your mindapples again below, but we'll have to make you a new account. Or, just
        = link_to("edit your existing mindapples here", edit_person_path(current_person)) + "."
    %h2.light_bg
      What are your mindapples?
    %p.intro
      If eating five fruit and vegetables a day is good for your body, then what about your mind? Share the 5-a-day for your mind and tell us what you do that's good for your mind.
    = render :partial => 'form'
