- content_for :head do
  = stylesheet_link_tag "jquery.fancybox-1.3.4"
  = javascript_include_tag "jquery.fancybox-1.3.4.pack"
  = javascript_include_tag "http://platform.twitter.com/widgets.js"
  %meta{ :property => "og:title", :content => "Mindapples - #{resource.name}" }
  %meta{ :property => "og:url", :content => "current.url" } 
.user
  - render_tabnav :sub do
    - add_tab do |t|
      - t.named 'My five a day'
      - t.links_to :controller => :people, :action => :show, :id => resource
      - t.html= {:class => 'show_mindapples show_my_fives'}

  .left_column
    - if( resource.avatar_file_name.blank? && !resource.external_avatar_url.blank? )
      %img{ :src => resource.external_avatar_url }
    - else
      %img{ :src => resource.avatar.url(:medium) }
    %p
      -if resource.name
        = resource.name
      -elsif ! resource.anonymous?
        = resource.user.login
      - if resource.editable_by?(current_user)
        = link_to 'Edit', edit_person_path(resource)
    %p{ :class => 'one_line_bio' }
      = resource.one_line_bio unless resource.one_line_bio.nil?

  .right_column
    - if(!current_user)
      .your_fives_take
        .inner
          .heading
            %span.prefix
              Take the 
            %br
            Test
          %p
            What do you do to look after your mind?
          .go
            = link_to image_tag('/images/buttons/go.png', :title => "Take the test"), new_person_path

    = share_this_icons
  .sub_central
    .inner
      %ol
        = render(resource.mindapples)

- if current_person && current_person == resource && !resource.shared_mindapples?
  :javascript
    $(document).ready(function() {
      $("body").append("<a href='/share' id='share_on_social_media'>Shere your mind apples with friends</a>");
      $("#share_on_social_media").fancybox().trigger('click');
    });
  
  - current_person.update_attributes :shared_mindapples => true
