.user
  - render_tabnav :sub do
    - add_tab do |t|
      - t.named 'My five a day'
      - t.links_to :controller => :people, :action => :show, :id => resource

  .left_column
    %img{ :src => resource.avatar.url(:medium) }
    %p
      = resource
      - if current_user && current_user == resource
        = link_to 'Edit', edit_person_path(resource)

  .right_column
    %p
      - if(!current_user)
        What's your 5 a day?
        %br
        = link_to('go', new_person_path)
        What do you do to look after your mind?
      %br
      
      = share_this_icons

  .sub_central
    .inner
      %ol
        = render(resource.mindapples)
