%h1
  = h resource.name
  's page on Mindapples

%p
  = link_to 'Edit', edit_person_path(resource)
  
%h3
  Here are their suggestions for good things to do to keep your mind healthy:
  %ol
    = render(resource.mindapples)

%h4
  Here's what they also had to say when they took the test:
  = h resource.braindump

%h4
  = h resource.name
  made this page by taking the Mindapples Test. 
  %br
  What are you doing to look after your mind?
  %br
