- content_for :head do
  = stylesheet_link_tag "jquery.fancybox-1.3.4"
  = javascript_include_tag "jquery.fancybox-1.3.4.pack"
  = javascript_include_tag "http://platform.twitter.com/widgets.js"

.user
  - render_tabnav :sub do
    - add_tab do |t|
      - t.named 'My five a day'
      - t.links_to :controller => :people, :action => :show, :id => resource
      - t.html= {:class => 'show_mindapples show_my_fives'}

  .left_column
    %img{ :src => resource.avatar.url(:medium) }
    %p
      = resource
      - if current_user && current_user == resource
        = link_to 'Edit', edit_person_path(resource)

  .right_column
    - if(!current_user)
      .your_fives_take
        .inner
          .heading
            %span.prefix
              Take the 
            %br
            Test
          %p
            What do you do to look after your mind?
          .go
            = link_to image_tag('/images/buttons/go.png', :title => "Take the test"), new_person_path
      
    %div{ :class => "aside share" }
    = link_to "Tweet these mindapples", "http://twitter.com/share", :class => "twitter-share-button"
  .sub_central
    .inner
      %ol
        = render(resource.mindapples)

:javascript
  $(document).ready(function() {
    $("body").append("<a href='/share' id='share_on_social_media'>Shere your mind apples with friends</a>");
    $("#share_on_social_media").fancybox().trigger('click');
  });