.row
  Welcome to the Mindapples page for 
  = h resource.name
.row
  They're doing the following activities to look after their mind:
  %ol
    = render(resource.mindapples)
.row
  Here's what else they had to say:
  = h resource.braindump
.row
  They rate their mental health as
  = h resource.health_check
.row
  They're from 
  = h resource.location
.row
  And their occupation is
  = h resource.occupation
.row
  They are...
  = Gender.label(resource.gender)
.row
  And they are roughly
  = h resource.age
.row
  = link_to 'Edit', edit_person_path(resource)
