%div
  Thank you
.row
  Five-a-day:
  %ol
    = render(resource.mindapples)
.row
  Braindump:
  = resource.braindump
.row
  Health check:
  = resource.health_check
.row
  Gender:
  = Gender.label(resource.gender)
.row
  Age:
  = resource.age
.row
  Location:
  = resource.location
.row
  Occupation:
  = resource.occupation
.row
  Name:
  = resource.name
.row
  Email:
  = resource.email
