%h1
  = page_possessor(resource), " page on Mindapples"

%p
  = if current_user && current_user == resource
    = link_to 'Edit', edit_person_path(resource)

%img{:src => resource.avatar.url(:medium)}

%h3
  Here are their suggestions for good things to do to keep your mind healthy:
  %ol
    = render(resource.mindapples)

%h4
  Here's what they also had to say when they took the test:
  = h resource.braindump

%h4
  = h resource.name
  made this page by taking the Mindapples Test. 
  %br
  What are you doing to look after your mind?
  %br

  = if(!current_user)
    = link_to('Take the Mindapples test', new_person_path)
    and pick your 5-a-day.
  %br
  
  = share_this_icons
