%h1
  = h resource.name
  's page on Mindapples

%p
  = link_to 'Edit', edit_person_path(resource)
  
%h3
  They're doing the following activities regularly to keep their mind healthy:
  %ol
    = render(resource.mindapples)

%h4
  Here's what else 
  = h resource.name
  had to say when they took the test:
  = h resource.braindump

%h4
  = h resource.name
  made this page by taking the Mindapples Test. 
  %br
  What are you doing to look after your mind?
  %br
  = link_to('Take the Mindapples test now', new_person_path)
