.row
  This is the Mindapples page for:
  = h resource.name
.row
  Here's your five-a-day:
  %ol
    = render(resource.mindapples)
.row
  Braindump:
  = h resource.braindump
.row
  Health check:
  = h resource.health_check
.row
  Location:
  = h resource.location
.row
  Occupation:
  = h resource.occupation
.row
  Gender:
  = Gender.label(resource.gender)
.row
  Age:
  = h resource.age
.row
  = link_to 'Edit', edit_person_path(resource)
