.right_column_wide
  = render(:partial => "/shared/search")
  - unless current_user
    .simple_form_box
      %h2
        Already got an account?
      .inner
        = render(:partial => "/shared/login_form")

.main_content.network_main_content

  = render(:partial => "network_details")
      
  - if false # this section is disabled until backend can be implemented
    .most_recent
      %h2
        %span Most recent
  
      %ul
        = render :partial => 'mindapples/mindapple', :collection => @most_recent

  .top_apples
    %h2
      %span Top &lsquo;apples

    %ul
      = render :partial => 'mindapples/mindapple', :collection => @most_liked

