#news
  %h2 News
  - @blogfeeds.each do |feed|
    .news_item
      %h3
        = link_to feed.title, feed.url
      %p
        = feed.teaser
        %a{:href => feed.url} (Read more)
      %p.meta= "Posted by #{feed.author} on #{feed.published.strftime("%d %b %Y")}"
