#footer
  %ul
    %li= link_to 'Home', root_path
    %li= link_to 'About Us', about_path
    %li= link_to 'Me', '#'
    %li= link_to 'Take the test', new_person_path
    %li= link_to 'Explore', fives_path
    %li= link_to 'Services', services_path
    %li= link_to 'Help us grow', grow_path
    %li= link_to 'Blog', 'http://mindapples.wordpress.com'
