%ul.footer
  %li
    = link_to('Take the test', new_person_path)
  %li
    = link_to('Things to do', things_to_do_path)
  %li
    = link_to('Help us grow', help_us_grow_path)
  %li
    = link_to('About us', about_us_path)
  %li
    = link_to('Blog', 'http://blog.mindapples.org')
  %li
    = link_to('Social media stuff', social_media_stuff_path)
