#footer
  .inner
    %ul
      %li= link_to 'Home', root_path
      - unless current_user
        %li= link_to 'Your mindapples', new_person_path
      %li= link_to 'Explore', mindapples_path
      %li= link_to 'Services', services_path
      %li= link_to 'Campaign', grow_path
      %li= link_to 'About', about_path
      %li= link_to 'News', 'http://blog.mindapples.org'
      %br
      %br
      %li= link_to 'Terms & conditions', terms_path
      %li= link_to 'Privacy', privacy_path
      %li= link_to 'Contact us', contact_path

  .site-credits
    %p.footer_sentences
      Mindapples is a non-profit registered in England and Wales number 07264252, VAT 997836044. 
    %p.footer_sentences
      We aren't affiliated to the charity Mind although we do work with them sometimes.
   
