#footer
  .inner
    %ul
      %li= link_to 'Home', root_path
      %li= link_to 'About Us', about_path
      %li= link_to 'Me', '#'
      %li= link_to 'Take the test', new_person_path
      %li= link_to 'Explore', mindapples_path
      %li= link_to 'Services', services_path
      %li= link_to 'Help us grow', grow_path
      %li= link_to 'Blog', 'http://mindapples.wordpress.com'
      %li= link_to 'Terms & conditions', terms_path
      %li= link_to 'Privacy policy', privacy_path
  .site-credits
    %ul
      %li=  link_to 'Unboxed Consulting', 'http://www.unboxedconsulting.com', :class => "unboxed"
      %li=  link_to 'UnLtd*', 'http://www.unltd.org.uk', :class => "unltd"
      %li=  link_to 'Nominet Trust', 'http://www.nominettrust.org.uk', :class => "nominet_trust"
    %br.clear
    %p.footer_sentences
    This site was built by Unboxed Consulting and the
    = link_to 'Mindapples volunteers, ', team_path
    funded and supported by UnLtd
    %p.footer_sentences
    and the Nominet Trust. Mindapples is a non-profit organisation registered in England and Wales number 07264252.
   