#header
  .logo
    %a{:href => "/"}
      %img{:src => "/images/mindapples.jpg", :alt => "Mindapples - What's your five a day?", :border =>"0"}
  .menu
    %ul
      %li
        = link_to('Home', '/')
      %li
        = link_to('Take the test', new_person_path)
      %li
        = link_to('Read the fives', fives_path)
      %li
        = link_to('About us', about_path)
      %li
        = link_to('Help us grow', help_us_grow_path)
      %li
        = link_to('Blog', 'http://blog.mindapples.org')
      %li
        .account
          = logged_in_info
