.simple_form_box
  %h2
    Search
  .inner
    - form_tag mindapples_path, :method => :get do
      = label_tag 'mindapple', "Find new things to do"
      = text_field_tag 'mindapple'
      = image_submit_tag '/images/buttons/go.png', :class => "submit-form", :alt => "Find"
    %br.clear

  %br.clear

  - if @search_message
    %h3
      =@search_message.to_s

  %ul
    = render :partial => 'mindapples/mindapple', :collection => @mindapples
-if @mindapples
  = will_paginate @mindapples
