%h1
  About Mindapples

%p
  %b
    Mindapples helps people look after their minds. We encourage people to take better care of themselves, and educate the public about how our minds work and how to manage them. We want to make looking after our minds as natural as brushing our teeth, by asking everyone: &#8220;What's the 5-a-day for your mind?&#8221;

%p
  We rely on our minds for almost everything we do, but how much do we actually know about how they work, or how to look after them? Recent psychological research suggests 
  = link_to('40% of our mental wellbeing', evidence_path)
  is down to our &#8220;outlook and activities&#8221;, and yet we know so little about how to keep ourselves mentally healthy. We can brush our teeth, get our 5-a-day, watch our cholesterol and worry about our waistlines, but what about our minds? 
  
%p
  So, if we can look after our bodies by going jogging, or eating an apple, then what&#8217;s the equivalent for our minds? Rather than waiting until a crisis point before giving people knowledge about their minds, we take a proactive approach and introduce this knowledge early on to help us all manage ourselves, and others, more effectively. We want to give everyone the same level of knowledge about how our minds work as we have about our bodies, to help us all live and work better.

%p
  We work with businesses in sectors as diverse as financial services, utilities, media and healthcare to train people to understand their minds and improve their resilience and work performance, and reinvest the profits in our campaigning work in communities, schools, universities and healthcare to make looking after our minds as natural as brushing our teeth. Take a look at 
  = link_to('what people say', testimonials_path)
  here, and read more about the 
  = link_to('scientific evidence', evidence_path)
  for what we do.

%p
  %i
    “Mindapples is an idea that is gaining ground at a time when both professionals and politicians are focusing on people’s well-being.”
    %br
  Julie Cross, 
  %a{:href => "http://www.telegraph.co.uk/health/8512379/Mindapples-five-a-day-for-the-mind-cheerfulness-plan-to-be-trialled-by-NHS.html", :target => "_blank", :title => "Julie Cross on Mindapples in the Telegraph"} The Telegraph, May 2011

%p
  We want to know what works for you. We&#8217;re asking everyone to pick their own five &#8220;mindapples&#8221; and share them with the world, and using the power of the web to build a community of people taking care of their minds. So far we have harvested over 50,000 mindapples, attracted 
  = link_to('national press coverage', media_path) + ","
  built 
  = link_to('strong partnerships', partnerships_path) + "," 
  and gathered a lot of wonderful supporters. 
  
%p
  Find out more about 
  = link_to('who we are', team_path)
  and 
  = link_to('how we got here', how_we_got_here_path) + ","
  and if you like what we're doing, please
  = link_to('donate to our campaign', donate_path) + ","
  = link_to('get involved yourself', join_us_path) + ","
  and 
  = link_to('hire us to work with you', services_path) + "."

%p
  %i
    “I find Mindapples a pretty intriguing concept, which could really catch on. Just as gyms became a big thing in the 80s, will the 2010s see the arrival of serious preventative mental health?”
  %br
  Madeleine Bunting, 
  %a{:href => "http://www.guardian.co.uk/commentisfree/2011/apr/13/action-for-happiness-launch", :target => "_blank", :title => "Madeleine Bunting on happiness and Mindapples in the Guardian"} The Guardian, April 2011

%p
  So, over to you. Have you had 
  %i
    your 
  mindapples?

%p
  %b
    Andy Gibson
    %br
    Head Gardener
