%h1
  About Mindapples

%p
  %b
    Mindapples helps everyone take better care of their minds. 
    
%p
  We encourage people to look after their minds through our 
  = link_to('engagement services', engagement_path) + ","
  and provide 
  = link_to('learning and development programmes', training_path)
  to help people learn how their minds work to improve their resilience and mental performance. We want to make looking after our minds as natural as brushing our teeth, by asking everyone, &#8220;What's the 5-a-day for your mind?&#8221;

%p
  Recent psychological research suggests around
  = link_to('40% of our mental wellbeing', evidence_path)
  is down to our &#8220;outlook and activities&#8221; - the choices we make, the actions we take - and yet we know almost nothing about how to take care of ourselves. If we all knew a little more about how our minds work and how to take care of them, we could maintain our health and get more from our minds. So, if we can brush our teeth, go to the gym and eat our 5-a-day, what about our minds? 
  
%p
  We&#8217;re asking everyone to pick their own five &#8220;mindapples&#8221; and share what they know about how we can all look after our minds. We work with large employers in sectors like financial services, consulting, utilities, media and healthcare to 
  = link_to('teach people how their minds work', training_path)
  to improve their resilience and mental performance. We reinvest the profits in
  = link_to('campaigning and public health programmes', programmes_path)
  in local communities, education and healthcare to promote healthy minds for everyone. 

%p
  %i
    “Mindapples is an idea that is gaining ground at a time when both professionals and politicians are focusing on people’s well-being.”
    %br
  Julie Cross, 
  %a{:href => "http://www.telegraph.co.uk/health/8512379/Mindapples-five-a-day-for-the-mind-cheerfulness-plan-to-be-trialled-by-NHS.html", :target => "_blank", :title => "Julie Cross on Mindapples in the Telegraph"} The Telegraph, May 2011

%p
  So far we've harvested over 50,000 mindapples, attracted 
  = link_to('national press coverage', media_path) + ","
  built 
  = link_to('strong partnerships', partnerships_path) + "," 
  and gathered lots fantastic supporters. Find out more about 
  = link_to('who we are', team_path) + ","
  = link_to('the services we offer', services_path)
  and how you can 
  = link_to('help us grow', join_us_path) + "."

%p
  %i
    “I find Mindapples a pretty intriguing concept, which could really catch on. Just as gyms became a big thing in the 80s, will the 2010s see the arrival of serious preventative mental health?”
  %br
  Madeleine Bunting, 
  %a{:href => "http://www.guardian.co.uk/commentisfree/2011/apr/13/action-for-happiness-launch", :target => "_blank", :title => "Madeleine Bunting on happiness and Mindapples in the Guardian"} The Guardian, April 2011

%p
  So, over to you. Have you had 
  %i
    your 
  mindapples?
