%h1
  About Mindapples

%p
  %b
    Mindapples is the first organisation in the UK dedicated to promoting mentally healthy living for everyone. 
  We want to make looking after our minds as natural as brushing our teeth, by asking everyone: &#8220;What's the 5-a-day for your mind?&#8221;

%p
  We all have mental health, and we can all do things to take care of ourselves. We know how to take care of our bodies - we can eat healthy food, try to keep fit, brush our teeth and worry about our waistlines. Yet when it comes to our minds, we have very little idea what to do, so we do nothing and leave it to the experts to fix us if things go wrong. But experts can only do so much. We need to take better care of ourselves. So, if we can look after our bodies by going for a run, or eating an apple, then what&#8217;s the equivalent for our minds?

%p
  We want to know what works for you. We&#8217;re asking everyone to pick their own &#8220;mindapples&#8221; and share them with the world, and using the power of the web to build a thriving community of people supporting each other to make their minds healthier. We use your suggestions to encourage everyone to take better care of their minds through simple daily activities. We want to reach mainstream audiences to build a new, positive culture for mental health, and make taking care of our minds a normal, natural thing for all of us. 

%p
  %i
    “I find Mindapples a pretty intriguing concept, which could really catch on. Just as gyms became a big thing in the 80s, will the 2010s see the arrival of serious preventative mental health?”
  %br
  Madeleine Bunting, 
  %a{:href => "http://www.guardian.co.uk/commentisfree/2011/apr/13/action-for-happiness-launch", :target => "_blank", :title => "Madeleine Bunting on happiness and Mindapples in the Guardian"} The Guardian, April 2011

%p
  We offer engagement, training and advisory services to a range of clients to help encourage and promote mental wellbeing and self-regulation. We channel all our profits back into our campaign to promote mentally healthy living for everyone, worldwide. For more information on the social impact of our work, take a look at 
  = link_to('what people say', testimonials_path)
  , and read more about the 
  = link_to('evidence', evidence_path)
  for what we do and why we do it.

%p
  %i
    “Mindapples is an idea that is gaining ground at a time when both professionals and politicians are focusing on people’s well-being.”
    %br
  Julie Cross, 
  %a{:href => "http://www.telegraph.co.uk/health/8512379/Mindapples-five-a-day-for-the-mind-cheerfulness-plan-to-be-trialled-by-NHS.html", :target => "_blank", :title => "Julie Cross on Mindapples in the Telegraph"} The Telegraph, May 2011

%p
  So far we have rallied a huge community of fantastic supporters, harvested over 50,000 mindapples suggestions, attracted loads of 
  = link_to('support and endorsements', testimonials_path)
  , generated considerable
  = link_to('national media coverage', media_path)
  , developed 
  = link_to('strong partnerships', partnerships_path) 
  , and built a reputation as a breath of fresh air in the mental health world. If you like what we're doing, please
  = link_to('donate to the cause', donate_path)  
  , volunteer or partner with us to
  = link_to('help us grow', join_us_path)  
  , and most importantly of all, 
  = link_to('hire us', services_path) + "."

%p
  %i
    “You know what's awesome? Mindapples. A nice example of a startup that matters.”
    %br
    Umair Haque, Harvard Business Review, April 2011 (via Twitter)

%p
  So, over to you. Have you had 
  %i
    your 
  mindapples?

%p
  %b
    Andy Gibson
    %br
    Head Gardener

%p
  %i
    Mindapples is an independent non-profit organisation based in Central London and with volunteers around the UK. Find out more about 
    = link_to('who we are', team_path)
    and 
    = link_to('how we got here', how_we_got_here_path)
    and if you like what we're doing, please
    = link_to('help us grow', join_us_path) + "."
