%h1
  Mindapples

%p
  Mindapples helps people get more from their minds. We think everyone should take of their minds like they take care of their bodies, and if we do that, then everything will change - what we teach our children, the way we deliver healthcare, how we run our businesses, how we design our society.

%p
  What we do really does make a difference. Our habits, actions and outlook have a huge impact on our mental state (Lyubomirsky, Sheldon & Schkade, 2007; Seligman, 2000), and integrating 'breathers' and 'restorers' into our daily lives can help us maintain our wellbeing and prevent future health problems (Pressman et al, 2009; Jansen & von Sadovszky, 2004). Just like in healthy eating or smoking prevention, we need to build a popular culture of awareness and self-care about our minds. So, if we can brush our teeth, go to the gym and eat our 5-a-day, what can we do for our minds? 

%p
  %i
    “I find Mindapples a pretty intriguing concept, which could really catch on. Just as gyms became a big thing in the 80s, will the 2010s see the arrival of serious preventative mental health?”
  %br
  Madeleine Bunting, 
  %a{:href => "http://www.guardian.co.uk/commentisfree/2011/apr/13/action-for-happiness-launch", :target => "_blank", :title => "Madeleine Bunting on happiness and Mindapples in the Guardian"} The Guardian

%p
  We offer 
  = link_to('a range of services', services_path)
  to help make this happen. We encourage positive conversations about mental health by asking everyone to share the ‘5-a-day' for their minds, and we teach people how their minds work to help them maintain their health and use their minds more effectively. We work with some of the biggest names in global business to
  = link_to('develop the mental resources of their staff', business_path) + ","
  and share what we've learnt more widely through our 
  = link_to('public engagement and education work', '/about/projects') + "."

%p
  We are an independent social business based in London. We have been funded and supported by a lot of wonderful people including the Maudsley Charity, Guy’s and St Thomas’s Charity, Comic Relief and the Nominet Trust. Our academic and clinical partners include the Institute of Psychiatry, South London & Maudsley NHS, Mind, the Mental Health Foundation, Bupa and the University of York. Our clients include some well-known businesses, including JP Morgan, L'Oreal, News UK and the Wellcome Trust. 
  
%p
  Over 100,000 people have now shared their mindapples and we've taught thousands of people how their minds work and how to look after them. We've got big plans too. Find out more about 
  = link_to('who we are', team_path) + ","
  = link_to('what we offer', services_path)
  and how you can 
  = link_to('help us grow', join_us_path) + "."
  
%p
  %i
    “Mindapples is an idea that is gaining ground at a time when both professionals and politicians are focusing on people’s well-being.”
    %br
  Julie Cross, 
  %a{:href => "http://www.telegraph.co.uk/health/8512379/Mindapples-five-a-day-for-the-mind-cheerfulness-plan-to-be-trialled-by-NHS.html", :target => "_blank", :title => "Julie Cross on Mindapples in the Telegraph"} The Telegraph

%p
  Get started today. We're asking you to pick your own five 'mindapples' and 
  = link_to('share them with the world', '/person/new') + "."
  We want to make looking after our minds as natural as brushing our teeth, by asking everyone:
  %b 
    What's the 5-a-day for your mind?

%p
  So, over to you. Have you had 
  %i
    your 
  mindapples?
