%h1
  About Mindapples

%p
  = image_tag "/images/mindthegap.png", :class => "float-right", :hspace => "10"
  Mindapples is a social movement to help everyone take better care of their minds. The original "5-a-day" campaign encouraged people to look after their physical health through simple daily activities, and we want to do the same thing for mental health. And since our minds are much more complex and individual than our bodies, we want to help people find daily activities that work just for them, simply by asking everyone the question: "What's your five-a-day?"

%p
  Mental health is one of the most important and underfunded issues in our society today, and affects the majority of us directly or indirectly. But while "physical health" is something we can all talk about and aspire to have, "mental health" continues to languish in the public imagination as something frightening and depressing, just for "ill" people - with all the stigma and isolation that this creates. 

%p  
  But we all have mental health - we just don't usually notice it until it wrong. So if you can take care of your body by playing football, or eating an apple, then what's the equivalent for your mind? And can mental health be not just "preventative", but fun too?
  
%p
  Rather than offering expert advice, we're asking everyone to think about their personal five-a-day, and using the power of the web to draw together a community of knowledge about what works for ordinary people. By supporting individuals to take care of their day-to-day mental health through simple activities, we can give people a sense of power over their minds. And by asking a question which everyone can answer, we hope to open up a mainstream public debate about mental health in which everyone can participate, and turn mental health into something aspirational and fun for everyone.

%p
  Oh, we're an independent project run by a group of volunteers in London, but we want Mindapples to be famous all around the world. Find out more about 
  = link_to('who we are', team_path)
  and 
  = link_to('how we got here', how_we_got_here_path) + ","
  or 
  = link_to('read our blog', 'http://mindapples.wordpress.com/')
  to find out what's on our minds at the moment. 
  
%p
  And if you like what we're doing, please
  = link_to('help us grow', help_us_grow_path) + "."

%h5
  Andy Gibson
  %br
  Head Gardener
