%h1
  Mindapples for Business

%p
  %b
    Bridging the gap between health & wellness and performance training.
  
%p
  We spend a third of our lives at work and yet more than half of us don't like our jobs 
  %i (Mercer, 2011). 
  Let's make work more inspiring! The business case makes sense too. Recent studies have shown that we are 12% more productive when in a positive state of mind
  %i (University of Warwick, 2010) 
  and wellbeing programmes are showing a return on investment to businesses of 9:1 in the first year alone
  %i (Mills et al, 2007).  

%p
  Mindapples provides a range of services to businesses to improve staff health and mental performance, creating value for our clients and helping their staff to work smarter and stay healthier. We use the proceeds from this work to subsidise our 
  = link_to('project work', '/about/projects')
  in education, healthcare and popular culture. We work with some of 
  = link_to('the biggest names in global business', testimonials_path) + ","
  and we've been leading the way in this sector since 2008, so if you're serious about improving the mental effectiveness of your organisation, we can help. 
  
%p
  “I have worked with Mindapples for a number of years. Their message is simple and compelling and fit for purpose for any audience, particularly those organisations who want to unlock the potential within their people. Highly recommended.”
  %b
    Patrick Watt, Director of Corporate Business, Bupa Health & Wellbeing
 
%p
  %b
    If you know someone whose business needs a lift, drop us a line at 
    = link_to('business@mindapples.org', 'mailto:business@mindapples.org') + "."  

%h2
  Health & wellness

%p
  We offer 
  = link_to 'three levels of wellbeing promotion programme', programmes_path 
  to suit any size of organisation, and a range of 
  = link_to('engagement services and keynote talks', engagement_path)
  to get people talking positively about their minds and taking more responsibility for their mental health.
  We can also help you design more detailed mental health promotion programmes by collecting
  = link_to 'insights and diagnostic data', insights_path
  about your organisation and making recommendations of quick wins to increase the health, engagement and productivity of your people.

%p
  %i
    "Mindapples and its simple but effective concept of five a day is a great platform for sharing ideas and challenges us to help ourselves while taking control of our mental attitude and health."
  %b
    Una Murphy, Manager, BBC Careerlink

%p
  %b
    = link_to('Read more about our health & wellness services here', engagement_path)
    or
    = link_to('contact us to build a package that suits your needs', contact_path) + "."

%h2
  Learning & development
  
%p
  We offer a range of masterclasses and training programmes to teach staff how to use their minds effectively. Combining mental wellness and resilience training with more advanced topics like creative thinking and influencing skills, our programmes equip staff and managers with the resources they need to work smarter and maintain their wellbeing. All our training programmes are delivered by experienced trainers and informed by the latest experimental findings from neuroscience and psychology.

%p
  %i
    "The team enjoyed it and also got a lot out of it in terms of practical hints and tips and tools"
  %b
    Lynne Baber, pricewaterhousecoopers
  
%p
  %b
    = link_to('Read more about our learning & development programmes here', training_path)  
    or
    = link_to('contact us to build a package that suits your needs', contact_path) + "."
