%h1
  Mindapples for Business

%p
  We spend a third of our lives at work and yet more than half of us don't like our jobs 
  %i (Mercer, 2011). 
  Let's make work more inspiring. We sell 
  = link_to('a range of commercial services', services_path) 
  to help organisations support the mental wellbeing of staff and work smarter and more sustainably. We work with some of 
  = link_to('the biggest names in global business', testimonials_path) + ","
  and smaller organisations too, so we're pretty sure we can improve your business too. 
  
%p
  The business case makes sense too. In the knowledge economy, the performance of your business hinges on the performance of the minds of your staff. Recent studies have shown that staff are 12% more productive when in a positive state of mind
  %i (University of Warwick, 2010) 
  and wellbeing programmes are showing a return on investment of 9:1 in the first year alone
  %i (Mills et al, 2007).
  
%h3
  If you know someone whose business needs a lift, drop us a line at 
  = link_to('mindforbusiness@mindapples.org', 'mindforbusiness@mindapples.org') + "."  

%p
  %b
    How we can help your business

  %ul
    %li
      = link_to 'Develop staff and managers to work smarter and more sustainably', training_path 
    %li 
      = link_to 'Engage your people in taking better care of their minds', engagement_path
    %li 
      = link_to 'Deliver valuable insights into how best to support your people', insights_path
    %li 
      = link_to 'Deliver cutting edge health and wellness programmes', programmes_path 
  
%p
  All our services are delivered by experienced facilitators and informed by the latest experimental findings from neuroscience and psychology. We channel all our profits back into our campaign to make looking after our minds as natural as brushing our teeth.
  
%p  
  %b
    = link_to('Contact us now to build a package that suits your needs', contact_path) + "."
