%h1
  Events

%p
  We run regular events and training sessions to promote mentally healthy living and support people to take better care of their minds. If you would like us to run a wellbeing event for your business, 
  = link_to('contact us', contact_path) + "."
  You can also purchase materials to run your own Mindapples events in our 
  = link_to('shop', shop_path) + "."
  Here's what we've got coming up...

%h2
  Your Mind: A User's Guide - Taster Session

%p
  On 26th April 2012 we are running our first Taster Session for our new 
  %i
    = link_to('Your Mind: A Users Guide', yourmind_path)
  training programme. Our star trainers Nathalie Nahai and Andy Gibson will present an intensive hands on briefing on the science of mood and influence, and some basic techniques to help us become more resilient and ultimately manage ourselves and others better. This 1-hour session introduces:

%ul
  %li the science of mental wellbeing and resilience
  %li mood regulation 
  %li mirror neurons
  %li the physiology of influence 

%p
  Our training sessions are getting incredible feedback, with 
  %b
    over 90% of recent participants
  rating our training as "good" or "excellent", and the same number saying they will behave differently as a direct result of this training.
  
%p
  The session will be held at our deluxe training facilities in London Bridge, and will be followed by networking drinks and a chance to meet the other delegates and discuss the training content with our experienced trainers. Book your place today!
  
%p
  <div style="width:100%; text-align:left;" ><iframe  src="http://www.eventbrite.co.uk/tickets-external?eid=3184674447&ref=etckt" frameborder="0" height="192" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.co.uk/r/etckt" >Event Registration Online</a><span style="color:#ddd;" > for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://yourmind.eventbrite.co.uk?ref=etckt" >Your Mind: A User's Guide</a><span style="color:#ddd;" > powered by </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.co.uk?ref=etckt" >Eventbrite</a></div></div>
  
%h2
  The Big Treat returns!

%p
  Our fabulous pop-up health farm the Big Treat will return this summer! We'll be taking over gardens in Dalston and London Bridge for two events celebrating feeling mentally well. Follow here for updates, and meanwhile take a look at this video of the first Big Treat back in 2010, in partnership with Courvoisier.
  %br
  <object width="540" height="325" align=center><param name="movie" value="http://www.youtube.com/v/lbZfBwq6hLw?fs=1&amp;hl=en_GB"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/lbZfBwq6hLw?fs=1&amp;hl=en_GB" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="535" height="325"></embed></object>
  
%h2
  Summer festivals programme
  
%p
  Last year we visited 
  = link_to('six UK festivals', 'http://blog.mindapples.org/2011/10/03/a-summer-of-mindapples/') + ","
  promoting positive mental health and asking everyone "What's the 5-a-day for your mind?" We harvested a whopping 
  %b
    7899 new mindapples
  and had a lot of fun in the process, and this year we'll be continuing our festivals programme. We'll definitely be at the Secret Garden Party and Wilderness Festival again, and if you'd like to feature us at your festival, or volunteer for us over the summer, please
  = link_to('get in touch', contact_path) + "."
