%h1
  Events

%p
  We organise ad hoc talks and pop-ups to inspire people to think and talk more about the health of their minds. We also run education and training events to teach people more about how their minds work and support people in the mental wellbeing sector. Here's what's coming up:

%h2
  Foundations of Mental Wellbeing (18 March 2014)

%p
  Are you looking to create a mental wellbeing strategy for your organisation? With work related stress and sickness absence on the rise, the pressure on HR and wellness staff to tackle stress and promote wellbeing is higher than ever. Creating the conditions for mentally healthy and sustainable working can bring substantial rewards both for staff wellness and business productivity. 
 
%p
  In this introductory seminar, we will be sharing our insights from 
  = link_to('five years of promoting mental wellbeing', '/about/projects')
  in multinational businesses, SMEs and the wider community, and laying out the key elements necessary for a mentally healthy, sustainable and effective workplace. 
 
%p
  %i
    "I have worked with Mindapples for a number of years. Their message is simple and compelling and fit for purpose for any audience, particularly those organisations who want to unlock the potential within their people. Highly recommended." 
  %b
    Patrick Watt, Director of Corporate Business, Bupa Health & Wellbeing 
 
%p
  %b
    Venue: Bupa House, 15-19 Bloomsbury Way, WC1A 2BA. 
    %br
    = link_to('Download the course outline here', 'http://mindap.pl/1k7kIdl')
    and 
    = link_to('book your place now', 'http://iwantth.is/1bkgw0P') + "."

%h2
  Taster events

%p
  Thinking about buying our 
  = link_to('training services', training_path)
  for your organisation? We offer regular taster events to showcase how our training sessions work and help you decide whether our approach is right for your business. If you would like to come to our next public taster session, or if you would like us to run a taster session for your colleagues at your offices, please drop us a line at
  = link_to('givemeataste@mindapples.org', 'mailto:givemeataste@mindapples.org') + "."

%h2
  Summer festivals
  
%p
  Every year we visit 
  = link_to('a selection of UK festivals', 'http://blog.mindapples.org/2011/10/03/a-summer-of-mindapples/') + ","
  asking everyone "What's the 5-a-day for your mind?" and getting If you'd like us to grow some mindapples at your festival, or if you'd like to help co-ordinate our festivals campaign this year,
  = link_to('get in touch', contact_path) + "."
  
%h3
  If you would like us to run training events or wellbeing days for your organisation,
  = link_to('get in touch', contact_path) + ","
  and you can also buy trees and toolkits to run your own Mindapples events in 
  = link_to('the Mindapples shop', shop_path) + "." 
