%h1
  Upcoming events

%h2
  Foundations of Mental Wellbeing 

%p
  <img class="alignright" style="border:0;margin:10px;" alt="love your mind" src="/images/content/head-loveyourmind1.png" width="200" height="203">
  Are you looking to create a mental wellbeing strategy for your organisation? With stress and mental ill-health on the rise, the pressure on HR departments to promote wellbeing and productivity is higher than ever. In this regular introductory seminar, we share our insights from 
  = link_to('six years of promoting mental wellbeing', '/about/projects')
  in workplaces, education and public health, and lay out the key elements for developing the mental resources of your organisation. 
 
%p
  %i
    "I have worked with Mindapples for a number of years. Their message is simple and compelling and fit for purpose for any audience, particularly those organisations who want to unlock the potential within their people. Highly recommended." 
  %b
    Patrick Watt, Director of Corporate Business, Bupa Health & Wellbeing 
 
%p
  %b
    The next seminar will be held at Bupa House in Holborn, Central London at 10am-4pm, 7 October 2014.
    %br
    = link_to('Download the session outline here', 'http://mindap.pl/hrfoundations')
    and 
    = link_to('book your place now', 'http://iwantth.is/1bkgw0P') + "."

%h2
  Taster events

%p
  Thinking about buying our 
  = link_to('training services', training_path)
  for your organisation? We offer regular taster events to showcase our training. If you're interested in coming to our next public taster session, or arranging a taster session at your offices, drop us a line at
  = link_to('givemeataste@mindapples.org', 'mailto:givemeataste@mindapples.org') + "."

%h2
  Summer festivals
  
%p
  Every year we visit 
  = link_to('various UK festivals', 'http://blog.mindapples.org/2011/10/03/a-summer-of-mindapples/') + ","
  asking everyone "What's the 5-a-day for your mind?" If you'd like us to grow some mindapples at your festival, or if you'd like to help co-ordinate our festivals campaign this year,
  = link_to('get in touch', contact_path) + "."
  
%h3
  Remember, you can also run your own Mindapples events using the trees and toolkits in 
  = link_to('the Mindapples shop', shop_path) + "!" 
