%h1
  Frequently Asked Questions

%p
  Got a question about Mindapples? We might have already answered it here.

%hr
%p
  %b
    What is a mindapple?
  %br
  Any simple everyday activity that is good for our minds. Some examples might include:
  %br
  “Some stretching - yoga, swimming, a walk, a dance round the house etc.”
  %br
  “Walking or sitting outside among green and quiet.”
  %br
  “I speak to my friends and family as often as I can.”

%p
  %b
    How does Mindapples work?
  %br
  Sharing mindapples makes people more conscious of the things they do to look after their minds. Reflecting on their mindapples can help people find positive activities that fit their values and lifestyles, and promote good habits of self-care. The point is not to tell people what to do, but to show people that they can do things to help themselves and take more control of their mental wellbeing. 

%p
  %b
    How is Mindapples different?
  %br
  We focus on the positive side of mental health, whilst other organisations focus on happiness or mental ill-health. As far as we know, we're the only organisation in the UK dedicted solely to teaching people about their minds and inspiring everyone to take better care of their mental health. We don’t believe in telling people what to do though. Instead we ask people what works for them and give people a platform to share their knowledge and discuss their experiences. It’s a question-based approach, backed up with the latest scientific research, to encourage positive conversations about the health of our minds and help people maintain their minds and use them more effectively. 

%p
  %b
    What will you do with all of the mindapples you've collected?
  %br
  The data is less important to us than the process of getting people to reflect on what they do for their minds. Having said that, we are planning to do more with the data once we have the resources to do so, so if you purchase a toolkit, you can type up the mindapples and send a copy to us at 
  = link_to('hello@mindapples.org', 'mailto:hello@mindapples.org') + "."
  and we will add them to our online database. We’d also love to see any photos you take of mindapples in action, so please send them to the email above,
  = link_to('post them on our Facebook page', 'http://facebook.com/mindapples') + ","
  or tweet us 
  = link_to('@mindapples', 'http://twitter.com/mindapples') + "."

%p
  %b
    What does Mindapples the organisation do?
  %br
  We spend half our time 
  = link_to('selling services to businesses', services_path)
  to teach staff to work smarter and look after their minds. The rest of our time is spent 
  = link_to('running funded projects', '/about/projects')
  to take our work to wider audiences, and we sometimes run our own events and campaigns too when we can. We also
  = link_to('sell trees and toolkits', shop_path)
  to help other people promote mental wellbeing. It's a hybrid model that can get a bit confusing at times, but it's kept us in business at a time when many other organisations are going bust. You can
  = link_to('read more about us here', about_path) + "."

%p
  %b
    Are you a charity?
  %br
  Almost. We're a non-profit Company Limited By Guarantee, with charitable objectives, which means we qualify for various charitable benefits but don't have to do as much paperwork. We make most of our money from trading so becoming a charity wouldn't be that helpful for us at the moment.

%p
  %b
    How do you make money?
  %br
  We make most of our money from selling training and engagement services, but we've also received funding from various trusts to work on particular social issues and develop our campaigning activities. We have received core funding (ho ho) from the Maudsley Charity, Guy's & St Thomas's Charity and back at the start from UnLtd/Nominet Trust. We are not backed by any large business, or by the Government. We are a not-for-profit organisation and we are, and will remain, totally politically independent.

%p
  %b
    How long has the organisation been running?
  %br
  Mindapples was founded by Andy Gibson in 2008. If you're interested, check out 
  = link_to('how we got here', how_we_got_here_path) + "."


%p
  %b
    Are you a part of the charity Mind?
  %br
  No, we're a completely separate organisation with different strategic aims, but we do work with them sometimes on particular projects.
