%h1
  Grow your own mindapples

%p
  We can't do everything, and we wouldn't want to either: just think of all the paperwork. We need your help to get everyone in the UK taking better care of their minds, so if you want to use mindapples in your work, we can help!
  
%h2
  Buy trees and toolkits

%p
  We offer various kinds of toolkit to help you run your own Mindapples events and get the people you care about thinking positively about the health of their minds. Toolkits are priced to suit a range of budgets and include mindapples cards, pens and badges. If you're feeling flush, you can even order a Mindapples Tree of your very own.

%p
  %b
    = link_to('Visit our shop now', shop_path)

%h2
  Join the Gardeners Network

%p
  We've spent several years developing a great brand and engagement tools to promote mental health and wellbeing. We want other organisations to benefit from what we've developed, and all we ask is that you make a small contribution to our work in return. 
  
%p
  So we've created the 
  %b
    Mindapples Gardeners Network, 
  a community of people and organisations who have permission to use the mindapples brand and content in their work. Gardeners also receive discounts on our products and access to special services. In return, we only ask for a £25 membership fee to cover our admin costs, and also a few sensible conditions of use. To be part of it, write to us at  
  = link_to('greenfingers@mindapples.org', 'mailto:greenfingers@mindapples.org') + "."
  
%p
  If you're a consultant, coach or trainer looking to use our 
  = link_to ('learning materials', training_path)
  with your clients, we'd like to work with you too. For more information, email us at
  = link_to('programmes@mindapples.org', 'mailto:programmes@mindapples.org') + "."

%h2
  Gardener Training
  
%p
  If you would like to use the Mindapples concept in your work, we're putting together a half day training course to share what we've learnt from a few years of engaging the public in positive conversations about mental health. If you'd like to know more about this service,
  = link_to('get in touch here', contact_path) + "."
  
%p
  %i
    Mindapples is a registered trademark and should not be used without permission. Please don't steal our work, it took us ages and ages. Thanks.
