%h1
  Help us grow

%p
  = image_tag "/images/help-us-grow.jpg",  :align => "right",  :hspace => "10"
  We've had over 1000 responses to the Mindapples Test so far, but 
  %b
    our next target is 10,000 responses.
  We need your help!

%p
  We've got room in our growing team for 
  %b
    part-time interns and volunteers
  to help us with engaging our existing community, writing case studies, contacting celebrities, organising promotions, writing press releases, and making postcards, posters, viral videos and other fun, creative stuff.
  
%p
  And if you like what we're doing then please:

%ul
  %li
    blog, 
    = link_to('Twitter', 'http://twitter.com/mindapples')
    and 
    = link_to('Facebook', 'http://www.facebook.com/group.php?gid=67664831909')
    us
  %li
    link to us in your websites and e-newsletters
  %li
    write about us in your newspapers and magazines
  %li
    introduce us to people you think could help
  %li
    send the 
    = link_to('Mindapples test', new_person_path)
    to your friends and challenge them to pick their 5-a-day

%p
  And of course, if you're a journalist or a funder, then we're officially your new best friends. ;-)

%h3
  Grow your own Mindapples

%p
  Mindapples is a social idea, not a brand, so we don't want to own it. Like the original 5-a-day concept, it needs to be shared by everyone if it's really going to work. So, if you'd like to use the Mindapples survey with your community, go ahead. We can help too: by giving advice, setting up a 
  %b
    customised survey, 
  or running a tailored 
  %b
    engagement programme.
  We're also glad to share the results of our survey with other organisations for use in their research, campaigns and policy work, and to partner up on projects that you're running.

%p
  We'd love to hear from you. Drop us a line at 
  = link_to('hello@mindapples.org', 'mailto:hello@mindapples.org') + "."
