.right_column_wide
  - if current_user.nil?
    .five-a-day
      .inner-top
        %h1 What are your mindapples?
        %p What 5 things do you do every day, or regularly, to look after your mind...

        = render(:partial => '/people/mindapples_form', :locals => { :resource => @person })
        %div.clear
  -else
    = render(:partial => 'shared/small_search')

  .promotion
    = facebook_like_box
  .promotion
    = twitter_feed_box

.main_content
  %dl.mindapples_definition
    %dt 
      mindapple
      %span.phonetics (mīnd-ăp-´əl)
      &bull;
      %span.type n.
    %dd
      a simple day-to-day activity that is good for the mind

  .promotional_video
    %a{:href => "/services/training"}
      %img{:alt => "Learn how to grow your mind with our new training programme", :width => "520", :height => "113", :src => "/images/content/promo-training.png", :border => "0"}

  .promotional_video
    %a{:href => "/services/engagement"}
      %img{:alt => "Hire a Mindapples tree, available all year round", :width => "520", :height => "115", :src => "/images/content/promo-tree.png", :border => "0"}

  = render :partial => 'blog_feeds/index'

  .most_recent
    %h2
      %span Recent picks

    %ul
      = render :partial => 'mindapples/mindapple', :collection => @most_recent
