.right_column_wide
  .promotion
    %a{:href => "http://mindap.pl/moodbug"}
      %img{:alt => "Moodbug: share your moods, bug your friends", :width => "390", :height => "245", :src => "/images/content/moodbug-promo.png", :border => "0"}
  - if current_user.nil?
    .five-a-day
      .inner-top
        %h1 What are your mindapples?
        %p What do you do regularly to take care of your mind?

        = render(:partial => '/people/mindapples_form', :locals => { :resource => @person })
        %div.clear
  -else
    = render(:partial => 'shared/small_search')

  .promotion
    = facebook_like_box
  .promotion
    <a class="twitter-timeline"  href="https://twitter.com/mindapples"  data-widget-id="437179320625152000">Tweets by @mindapples</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

.main_content
  %dl.mindapples_definition
    %dt 
      mindapple
      %span.phonetics (mīnd-ăp-´əl)
      &bull;
      %span.type n.
    %dd
      a day-to-day activity that is 
      %br
      good for your mind

  .promotional_video
    %a{:href => "/yourmind"}
      %img{:alt => "Learn how to use your mind with our workplace training and education programmes", :width => "520", :height => "113", :src => "/images/content/promo-training.png", :border => "0"}

  .promotional_video
    %a{:href => "/shop"}
      %img{:alt => "Inspire people to love their minds by running mindapples events in your business or community", :width => "520", :height => "115", :src => "/images/content/promo-tree.png", :border => "0"}

  = render :partial => 'blog_feeds/index'

  .most_recent
    %h2
      %span Recent picks

    %ul
      = render :partial => 'mindapples/mindapple', :collection => @most_recent
