- if current_user.nil?
  = render(:partial => '/pages/what_section')

- if current_user.nil?
  .paper
    .inner-top
      %h1 What are your mindapples?
      %p What 5 things do you do every day, or regularly to look after your mind...

      = render(:partial => '/people/mindapples_form', :locals => { :resource => @person })

.main_content
  = render :partial => 'blog_feeds/index'

  .top_apples
    %h2
      %span Top &lsquo;apples

    %ul
      = render :partial => 'mindapples/mindapple', :collection => @most_liked

  .most_recent
    %h2
      %span Most recent

    %ul
      = render :partial => 'mindapples/mindapple', :collection => @most_recent
