.right_column_wide
  - if current_user.nil?
    .five-a-day
      .inner-top
        %h1 What are your mindapples?
        %p What 5 things do you do every day, or regularly, to look after your mind...

        = render(:partial => '/people/mindapples_form', :locals => { :resource => @person })
        %div.clear
  -else
    = render(:partial => 'shared/small_search')

  .promotion
    = facebook_like_box
  .promotion
    = twitter_feed_box

.main_content
  %dl.mindapples_definition
    %dt 
      mindapple
      %span.phonetics (mīnd-ăp-´əl)
      &bull;
      %span.type n.
    %dd
      a simple day-to-day activity that is good for the mind

  .promotional_video
    %iframe{:title => "Mindapples in Brixton", :width => "519", :height => "322", :src => "http://www.youtube.com/embed/7x8gXSCA4Ww", :frameborder => "0", :allowfullscreen => ""}

  = render :partial => 'blog_feeds/index'

  .most_recent
    %h2
      %span Recent picks

    %ul
      = render :partial => 'mindapples/mindapple', :collection => @most_recent
