%h1
  5-a-day for your mind

%h4
  We spend more time looking after our <img src="/images/teeth.jpg" /> than we do our minds. We should take better care of ourselves. <img src="/images/mindy-smiling.gif" />
  %br
  But if eating <img src="/images/5aday.jpg" />fruit and vegetables is good for our bodies, then what's the equivalent for our <img src="/images/mind.gif" />?

%h3
  Everyone's different. So 
  = link_to('take the Mindapples test', new_person_path)
  and pick your 5-a-day.
  
= render(:partial => '/people/mindapples_form', :locals => { :resource => @person })
%hr

%h3
  Looking for inspiration? See what other people picked for their mindapples.  
  = link_to('Read the fives', fives_path)  
%hr
%p
  This site was built by the 
  = link_to('Mindapples volunteers', team_path), "."
  Find out more 
  = link_to('about us', about_path), ","
  read our
  = link_to('blog', 'http://mindapples.wordpress.com'), ", or"
  = link_to('say hello', 'mailto:hello@mindapples.org'), "."
  
%p
  Mindapples is group of volunteers, a website, some pages on <a href='http://www.facebook.com/pages/Mindapples/38139955790'>Facebook</a>, <a href='http://twitter.com/mindapples'>Twitter</a> and <a href='http://www.flickr.com/photos/tags/mindapples/'>Flickr</a>, and a growing community of people around the world supporting each other to take care of their minds. If you like us, please  
  = link_to('help us grow', help_us_grow_path), "."
