%h1
  Join us

%p
  Mindapples aims to help everyone in the UK take better care of their minds, and we need your help.
  
%p
  We use all the proceeds from our
  = link_to 'commercial services', services_path
  to run 
  = link_to 'installations and pop-ups', engagement_path
  encouraging people to take better care of their minds in communities, schools and universities around the UK. We also work with the UK Government to raise the profile of mental health and wellbeing in public policy, and raise funding to support at-risk groups and pilots to develop new services for healthcare and public health.

%p
  If you would like to support our campaign, please 
  %b
    donate to the cause.
  £250 buys a Mindapples Tree for a school or university, and £50 buys a toolkit to run a Mindapples event promoting good mental health in a local community. You can give online below, or send cheques payable to 'Mindapples' to us at Mindapples, 145-157 St John Street, London EC1V 4PW.
  
%p
  <div id="ammadoGivingWidget" align="center"></div><script type="text/javascript">var s = document.createElement('script'); s.type='text/javascript'; s.async=true;s.src='https://www.ammado.com/nonprofit/116695/givingwidget/embed.js?renderTo=ammadoGivingWidget';var f = document.getElementsByTagName('script')[0]; f.parentNode.insertBefore(s, f);</script>
  
%p
  %br
  %b
    Or donate via Paypal:
  <div id="PaypalWidget"></div><form action="https://www.paypal.com/cgi-bin/webscr" method="post" align="center">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="3P8YP3QVG2KY6">
  <input type="image" src="https://www.paypal.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
  <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">
  </form>

%p
  Strapped for cash? Don't worry. You can also help by 
  = link_to('using Mindapples in your own work', grow_your_own_path) + ","
  = link_to('becoming a partner organisation', partnerships_path) + ","
  or 
  = link_to('volunteering for us', volunteer_path) + "."

%p
  Lots of love,
  %br
  The Mindapples Gardeners
  

