%h1
  The Mindapples Campaign

%p
  %b
    We want to make looking after our minds as natural as brushing our teeth. We work with a large community of volunteers and partners all around the UK to teach everyone how their minds work and how to look after them. 

%p
  The 'core' of our campaign is our concept of '5-a-day for your mind'. Here's how it works:
  %ul
    %li People share what works for them, making them more aware of how they affect their own minds.
    %li They read other people's suggestions and talk more openly about their mental wellbeing.
    %li They learn about their minds and find positive habits to keep themselves healthy and successful.

%p
  This is a critical topic. Mental health issues 
  = link_to('cost the UK £105bn a year', evidence_path)
  and cause huge damage to people's lives, and yet we have no official public mental health campaign in the UK. Mindapples has been working since 2008 to change all that. To hear more about the rationale behind our campaign, listen to this interview with our founder Andy Gibson for World Mental Health Day in October 2012:
  %br
  <div class="ab-player" data-boourl="https://audioboo.fm/boos/999564-andy-gibson-at-the-mindapples-tree-in-southwark-cathedral-churchyard/embed?eid=AQAAAFeYCFOMQA8A" ><a href="https://audioboo.fm/boos/999564-andy-gibson-at-the-mindapples-tree-in-southwark-cathedral-churchyard">listen to &#x2018;Andy Gibson at the Mindapples tree in Southwark Cathedral churchyard&#x2019; on Audioboo</a></div><script type="text/javascript">(function() { var po = document.createElement("script"); po.type = "text/javascript"; po.async = true; po.src = "https://d15mj6e6qmt1na.cloudfront.net/assets/embed.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(po, s); })();</script>

%p
  Over the years we've run a range of
  = link_to('events and projects', '/about/projects')  
  to promote mental wellbeing and get everyone sharing the 5-a-day for their minds. We also sell 
  = link_to('tree packs and event toolkits', shop_path)   
  to help you run your own mindapples trees and events near you. Here's a video of one of our first ever public events, in Brixton Market in 2010:
  %br
  <iframe width="500" height="300" src="//www.youtube.com/embed/7x8gXSCA4Ww" frameborder="0" allowfullscreen></iframe>

%p
  If you think you could help our campaign, either by funding part of our work or 
  = link_to('getting involved yourself', volunteer_path) + ","
  please do
  = link_to('drop us a line', 'mailto:hello@mindapples.org')
  and help us make looking after our minds as natural as brushing our teeth.
  
%p
  Lots of love,
  %br
  %i
    The Mindapples Gardeners
  

