%h1
  A growing community

%h3
  Mindapples is on a mission to teach everyone in the UK how their minds work and how to take care of them. 

%p
  We work with a wide community of partners and volunteers to make this happen, and we also 
  = link_to('sell trees and toolkits', shop_path)
  so anyone can organise their own mindapples events. Our campaign centres around our '5-a-day for your mind' concept, which has been changing people's minds since 2008. Here's how it works:
  %ul
    %li People fill in an applecard with their five ‘mindapples’, making them more aware of how their lifestyle choices affect their minds.
    %li They share this on a mindapples tree or other installation, creating a stigma-free space for conversations about our minds.
    %li The resulting mindapples suggestions inspire others to take care of their minds, and can also help decision-makers support people better too.

%p
  For all its simplicity, this is important stuff. Mental health issues 
  = link_to('cost the UK £105bn a year', evidence_path)
  and cause untold damage to individuals and their families, yet we have no official public mental health campaign. To hear more about the rationale behind our campaign, listen to this interview with our founder Andy Gibson for World Mental Health Day in October 2012:
  %br
  <div class="ab-player" data-boourl="https://audioboo.fm/boos/999564-andy-gibson-at-the-mindapples-tree-in-southwark-cathedral-churchyard/embed?eid=AQAAAFeYCFOMQA8A" ><a href="https://audioboo.fm/boos/999564-andy-gibson-at-the-mindapples-tree-in-southwark-cathedral-churchyard">listen to &#x2018;Andy Gibson at the Mindapples tree in Southwark Cathedral churchyard&#x2019; on Audioboo</a></div><script type="text/javascript">(function() { var po = document.createElement("script"); po.type = "text/javascript"; po.async = true; po.src = "https://d15mj6e6qmt1na.cloudfront.net/assets/embed.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(po, s); })();</script>

%p
  Over the years we've done 
  = link_to('lots of pop-ups, events and projects', '/about/projects')  
  to promote mental wellbeing and get everyone sharing the 5-a-day for their minds. For an idea of what we do, here's an old video of one of our first events in Brixton Market, 2010:
  %br
  <iframe width="500" height="300" src="//www.youtube.com/embed/7x8gXSCA4Ww" frameborder="0" allowfullscreen></iframe>

%p
  If you think you could help our campaign, either by funding part of our work or 
  = link_to('getting involved yourself', volunteer_path) + ","
  please do
  = link_to('drop us a line', 'mailto:hello@mindapples.org')
  and help us make looking after our minds as natural as brushing our teeth.
  
%p
  Lots of love,
  %br
  %i
    The Mindapples Gardeners
  

