%h1
  Wellbeing programmes

%p
  %b
    We combine our
    = link_to('engagement', engagement_path) + ","
    = link_to 'research', research_path
    and
    = link_to 'training', training_path
    services into integrated programmes to boost wellbeing and resilience in workplaces, healthcare and education. 

%h2
  Mindapples for business

%p
  In the knowledge economy, the performance of your business hinges on the performance of the minds of your staff. Recent studies have shown that staff are 22% less productive when in a negative rather than a positive state (
  %i
    University of Warwick, 2010
  ). Our training programmes introduce valuable knowledge about the human mind into businesses, and our engagement services embed lasting cultural change and help you bring the best out of your people. We aim to go beyond statutory staff healthcare to use wellness as the foundation for peak organisational performance. 
  = link_to('Contact us to find out more', 'mailto:hello@mindapples.org') + "."

%h2
  Mindapples for public health

%p
  Psychological wellbeing and mood regulation are at the heart of many of the most intractable public health issues in the UK today, from smoking and alcohol addictions to poor diet and obesity (
  %i
    see e.g. Thayer, The Origins of Everyday Moods
  ). We are now seeking research ethics and NHS research governance permissions to pilot Mindapples programmes in GP surgeries in Lambeth, in partnership with South London and Maudsley NHS Foundation Trust, NHS SE London and the Institute of Psychiatry, to determine whether Mindapples can help boost public health in communities around the UK. We are actively seeking partners interested in working with us to apply our engagement and training models to tackling health inequalities and increasing wellbeing levels in communities across the UK.

%p
  %i
    "We trialled out the initiative in the heart of Brixton and something about the tools really worked with people. Instead of telling people what they should do, the Mindapples approach starts a conversation with the public about what they do to feel good."
  %br
  Lucy Smith, Public Health Manager - Mental Wellbeing, NHS South East London

%h2
  Mindapples in universities

%p
  Mental health among students and graduates is becoming a pressing issue, with depression and anxiety continuing to rise and pressure increasing on student mental health services (
  %i
    see 
    = link_to('Royal College of Psychiatrists, 2011', 'http://www.rcpsych.ac.uk/press/pressreleases2011/studentmentalhealth.aspx')
  ). Mindapples is working with partners including the Universities Mental Health Advisors Network to equip students with the tools they need to be healthier and more resilient in their studies, and as they make the transition into a difficult job market. If you would like to support the mental health of students and graduates in the UK, please 
  = link_to('drop us a line', 'mailto:hello@mindapples.org') + "."

%p
  %i
    “All the students approached were happy to participate and were very open when writing down their five mindapples. It encouraged discussion amongst groups of friends and hopefully encouraged them to acknowledge the things they already do to look after their mental health.”
  %br
  Lydia Pell, Mental Health Co-ordinator, University of East Anglia
  
%h2
  Mindapples in schools

%p
  Our engagement tools have proved consistently popular with children and young people from a wide range of backgrounds. The
  = link_to('Mindapples training programme', training_path) + ","
  which gives people a practical working knowledge of their minds to help them understand themselves and others better, is based on academic research in UK schools by Mindapples Co-founder Tessy Britton. We are actively seeking schools and education providers to work with us on promoting our 5-a-day message in schools, and mainstreaming our training content into the UK education system, to improve the psychological wellbeing, behaviour and academic attainment of children across the UK.

%p
  %b
    = link_to('Contact us to build a programme that suits your needs', 'mailto:hello@mindapples.org') + "."

