%h1
  Services
  
%p
  %b
    We help people take better care of their minds. 
  We do this by promoting the importance of looking after our minds through events and digital campaigns, and providing essential knowledge about our minds to improve resilience and mental performance. We've helped clients in sectors as diverse as financial services, utilities, media and healthcare to take a fresh approach to mental wellbeing.

%b
  %ul
    %li 
      = link_to 'We supply installations and engagement tools to promote mental wellbeing', engagement_path
    %li
      = link_to 'We deliver learning programmes to help people to get more from their minds', training_path 
    %li 
      = link_to 'We survey people to find out what they want and need to keep themselves well', insights_path
    %li 
      = link_to 'We link all these services together to create lasting culture change', programmes_path 
  
%p
  All our services are delivered by experienced facilitators, informed by
  = link_to 'rigorous research', research_path
  and supported by our
  = link_to('academic partners', partnerships_path) + "."  
  We channel all our profits back into our campaign to make looking after our minds as natural as brushing our teeth.
  
%p  
  %b
    = link_to('Contact us now to find out more about what we can do for you', contact_path) + "."
