%h1
  Services
  
%p
  %b
    We help people take better care of their minds. 
  We do this by promoting the importance of looking after our minds through events and digital campaigns, and providing essential knowledge about our minds to improve resilience and mental performance. We've helped clients in sectors as diverse as financial services, utilities, media and healthcare to take a fresh approach to mental wellbeing. 

%p
  Here's what we offer:

%b
  %ul
    %li 
      = link_to 'Installations and engagement tools to promote wellbeing', engagement_path
    %li
      = link_to 'Learning programmes to increase resilience and mental performance', training_path 
    %li 
      = link_to 'Surveys to discover what people want and need to stay healthy', insights_path
    %li 
      = link_to 'Integrated campaigns and culture change programmes', programmes_path 
  
%p
  All our services are delivered by experienced facilitators, informed by
  = link_to 'rigorous research', research_path
  and supported by our
  = link_to('academic partners', partnerships_path) + "."  
  We channel all our profits back into our campaign to make looking after our minds as natural as brushing our teeth.
  
%p  
  %b
    = link_to('Contact us now to find out more about what we can do for you', contact_path) + "."
