%h1
  Mindapples services
  
%p
  %b
    We engage people in the importance of looking after their minds, and train and support them to take better care of themselves. 
  We work with clients as diverse as Mind, British Gas, Roche Products, NHS Lambeth and the BBC to promote workplace resilience, psychological wellbeing and public health. 

%p
  %b
    = link_to('Place an enquiry now', contact_path) + ","
  or read more about our services via the links below.

  %ul
    %li 
      = link_to 'Engagement', engagement_path
    %li
      = link_to 'Training', training_path 
    %li 
      = link_to 'Research and consultancy', research_path
    %li 
      = link_to 'Wellbeing Programmes', wellbeing_programmes_path 
  
%p
  All our services are delivered by experienced communications practitioners, informed by
  = link_to 'rigorous research', evidence_path
  and supported by our
  = link_to('academic and healthcare partners', partnerships_path) + "."  
  We channel all our profits back into our education and campaigning work to promote mentally healthy living in communities across the UK.
  
%p  
  %b
    = link_to('Contact us now to build a package that suits your needs', contact_path) + "."
