%h1
  Mindapples services
  
%p
  Mindapples offers clients a unique new way to promote mental wellbeing. 

%p
  We offer a new route into this difficult topic for employers, policymakers, healthcare providers, charities, brands and the media, and deliver public engagement and behaviour change services to promote mental wellbeing in a wide range of contexts. Our learning-based behaviour change model empowers individuals to reflect on their actions, make more informed choices to maintain their health and develop their own tools for lasting self-management. We 
  = link_to 'engage staff, patients and citizens', engagement_path
  in mental wellbeing, 
  = link_to 'collect and analyse their views', research_path
  to inform strategic decision-making, and 
  = link_to 'train individuals and managers', training_path 
  to play their part in a new shared model of control and responsibility for mental wellbeing. We do all this using a combination of nifty marketing and engagement techniques, and the latest scalable digital tools. 
  
%p
  All our services are informed by a rigorous 
  = link_to 'psychological and educational evidence base', evidence_path
  and supported by our
  = link_to 'academic and healthcare partners', partnerships_path
  , Kings Health Partners, South London and Maudsley NHS Trust and the Institute of Psychiatry at Kings College London. And since all our services collect suggestions for our wider campaign, and generate revenue to fund our work, by hiring us you’ll also be contributing to our overall objective of promoting mentally healthy living and working for everyone, worldwide.
  
%p  
  %i
    Find out more about our services using the links above, or to discuss working with us, please e-mail 
    = link_to('hello@mindapples.org', 'mailto:hello@mindapples.org') + "."
