%h1
  Services
  
%p
  Mindapples helps businesses improve their mental wellbeing and performance to help staff work smarter and more sustainably. We use the proceeds from this work to subsidise our 
  = link_to('community projects', '/about/projects')
  in education, healthcare and culture change. We work with some of 
  = link_to('the biggest names in global business', testimonials_path) + ","
  and we've been leading the way in this sector since 2008, so if you're serious about improving your organisation, we can help. 
  
%p
  “I have worked with Mindapples for a number of years. Their message is simple and compelling and fit for purpose for any audience, particularly those organisations who want to unlock the potential within their people. Highly recommended.”
  %b
    Patrick Watt, Director of Corporate Business, Bupa Health & Wellbeing
  
%p
  We provide an integrated two-channel approach, combining 
  = link_to 'health & wellness promotion', engagement_path
  and 
  = link_to('performance training', training_path)
  to engage staff in thinking about what their minds need, and equip them with the skills they need to work smarter. We also offer 
  = link_to 'insights and consultancy', insights_path
  to help organisations change, and combine all these services in packaged
  = link_to 'wellness programmes', programmes_path 
  to create lasting impact on your organisational culture and working practices.
  
%p
  %b
    <iframe src="http://www.slideshare.net/slideshow/embed_code/31884820" width="519" height="425" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" align="center"></iframe>
    %br
    Read more about our unique approach here.
  
%p  
  %b
    = link_to('And contact us now to build a programme that meets your needs', contact_path) + "."
