%h1
  Who we are

%p
  Mindapples was started by <a title="Andy Gibson, School of Everything, Sociability, Mindapples, Social by Social" href="http://sociability.org.uk/about/andy" target="_blank">Andy Gibson</a> in 2008, developed by Tessy Britton, Lauren Currie, Hege Saebjornsen and Esther King, and has now grown into a thriving social business with a strong network of supporters and advisors.

%h2
  Core Team (ho ho)

%ul
  %li
    Andy Gibson, Head Gardener
  %li
    Esther King, Gardener
  %li
    Ruta Marcinkus, Research and Communications
  %li
    Jenny Reina, Head of Marketing and Campaign
  %li
    Nathalie Nahai, Psychology Consultant
  %li
    Nina Burrowes, Research Consultant
  %li
    Tom Ten Thij, CTO (voluntary)
  %li
    Nicola Bonnick Caldeira, Accountant (voluntary)
  %li
    Louise Marshall, Spring Law, Commercial Lawyer

%h2
  Gardeners

%ul
  %li
    <a href="http://amandagore.wordpress.com">Amanda Gore</a>, Insights Researcher
  %li
    Amber Donebauer, turfing expert
  %li
    <a title="Amisha Ghadiali" href="http://www.amisha.co.uk/" target="_blank">Amisha Ghadiali</a>, thinker, actor, voter
  %li
    <a title="Ana Garcia, making the intangible tangible" href="http://www.helloanak.com/" target="_blank">Ana Garcia</a>, artist and designer
  %li
    Chris Mear, jazz piano and web development
  %li
    Christine Hartland, film producer, Sick and WMD
  %li
    Christine Lockhart, masseuse
  %li
    Felix Andrew, apple seller
  %li
    <a href="http://www.hegesaebjornsen.com">Hege Saebjornsen</a>, Stiglitz, All We Need
  %li
    Hannah Banting, Communications Manager, Whipps Cross University Hospital
  %li
    Helena Ambrosio, Product Designer
  %li
    <a title="Hen Norton, WeDidThis" href="http://wedidthis.org.uk/about#center-tab-3" target="_blank">Hen Norton</a>, Creative Producer
  %li
    <a title="Johanna de Mornay Davies" href="http://www.notanyoldjo.com/" target="_blank">Johanna de Mornay Davies</a>, Art Director
  %li
    Laura Billings, Engagement Consultant
  %li
    <a title="Laura Yates" href="http://www.laurayates.co.uk/" target="_blank">Laura Yates</a>, Designer
  %li
    <a title="Lauren Currie, Redjotter" href="http://redjotter.wordpress.com/" target="_blank">Lauren Currie</a>, Snook, MyPolice, Making Service Sense
  %li
    Lucy Poulson, tigger
  %li
    Lucy White, <a title="West Lexham" href="http://www.westlexham.org/" target="_blank">West Lexham</a>
  %li
    Marilena Reina, ex-Marketing Manager at Tate Britain, now at Brighton Festival
  %li
    Melanie Ball, Channel 4
  %li
    Naomi Wynne-Morgan, Clinical Psychologist
  %li
    Ofordi Nabokei, Policy Adviser
  %li
    Ravi Bagirathan, ex-Cabinet Office
  %li
    <a title="Rohan Gunatillake" href="http://www.21awake.com/" target="_blank">Rohan Gunatillake</a>, <a title="Buddhify" href="http://www.buddhify.com/" target="_blank">Buddhify</a>
  %li
    Sam Spedding, University of East London (Psychology)
  %li
    Sarah Tucker, festival hat consultant
  %li
    <a title="Sangeet Gyawali" href="http://www.sangeight.com/" target="_blank">Sangeet Gyawali</a>, website designer/developer

%h2
  Advisory Board  

%p
  We're also fortunate enough to have a pretty amazing set of people advising us, including:
%ul
  %li
    Andrew Brough, 
    = link_to('Mindapples Australia', international_path)
  %li
    Rose Casey-Challies, Director of Partners in Impact
  %li
    Charles Davies, The Face, Last.fm, Pick Me Up
  %li
    Stephanie Drakes, Director, 23red
  %li
    Roger Edmonds, Marketing Manager, Pepsico
  %li
    Paul Fletcher, Partner, ACTIS
  %li
    Nicky Forsythe, The Positive Therapy Company
  %li
    Peter Gibson, founder of <a title="Philosophy Ideas" href="http://www.philosophyideas.com/">Philosophy Ideas</a>, and Andy's dad
  %li
    John Grant, <a title="St Lukes Communications" href="http://www.stlukes.co.uk/">St Lukes Communications</a>, <a title="Ecoinomy" href="http://www.ecoinomy.com/" target="_blank">Ecoinomy</a>
  %li
    Diane Herbert, HR Director at <a title="Channel 4" href="http://www.channel4.com">Channel 4</a>
  %li
    Bill Hicks, deceased comedian
  %li
    Sophie Howarth, founder of <a title="The School of Life" href="http://www.theschooloflife.com">the School of Life</a>
  %li
    Maureen Rice, <a title="Psychologies Magazine" href="http://www.psychologies.co.uk/" target="_blank">Psychologies Magazine</a>, <a title="Prospect Magazine" href="www.prospectmagazine.co.uk/" target="_blank">Prospect</a>
  %li
    <a href="http://www.colintate.com">Colin Tate</a>, <a href="http://www.nemawashi.com">Nemawashi</a>, <a href="http://www.schoolofeverything.com">School of Everything</a>
  %li
    Richard Tyrie, co-founder, Jobs Go Public, <a href="http://www.goodpeople.co.uk">Good People</a>
  %li
    Jo Worsley, writer and freelance journalist

%p
  We'd also like to thank, in no particular order, Kris Morris (who did our first logo), Unboxed Consulting, the Nominet Trust, Tony Coggins at SLaM NHS Trust, Lucy Smith at NHS Lambeth, Laura Hyde, Austin Healey, Anne Rigby, the Guys and St Thomas's Charitable Trust, Kumar Jacob, the Maudsley Charity, the RSA, Kat Pesaran, Cassie Robinson, Kerry McCarthy, Sarah Drummond, UnLtd, BBC Careerlink, David Matthews, Eileen Sugrue, Paddy Watt (our loyal disc"apple"), Shane Carmichael, Ariam Asghedom, Simon Lawton-Smith, Ian Gilmour, the Mental Health Foundation, Gregor Henderson, Nicola Stevenson, Sarah Walter, Jonathan Campion, Kings Health Partners, Louise MacDonald, Young Scot, David Sillito, Madeleine Bunting, Julie Cross, Fred MacAulay, Mark Williamson, Action for Happiness, the New Economics Foundation, The Work Foundation, Ilona Boniwell at University of East London, Sam Aldenton, Sellar Development, the Hub Kings Cross, Dominic Campbell, Freeagent Central, Salesforce, Engauge, White Label PR, Delphine Reynaud, Courvoisier, Crussh, SavvyCook, Positive Touch, Headspace, Limina, Secret Garden Party, Wilderness Festival, Edmund Colville, Ben de Vere, BiodiversiTea, Cargo, The JB Conspiracy, Strobe Circus, Bass6, YaSSon, Xperimental, Sharliza Jelita, Drew Buddie, the Scatter Collective, All We Need, Anna Maybank, Social Innovation Camp, School of Everything, Spacemakers, Transition Town Brixton, Thames Festival, Robertson Cooper, Business in the Community, Ross Hall, Henry Playfoot, Mark Boulding, Mind, Time to Change, Marcia Brophy, Merlin Evans, Euan Semple, JP Rangaswami, Paul Miller, Adam Gee, Melanie Hayes, Jo Taylor, Jon Kingsbury, Robin Murray, Marjorie Thompson, Si&acirc;n Croxton, Alice Tyler, Lea Simpson, Roanne Dodds, Mat Healey, Dan Martell, Heleana Quartey, Lisa Williams, Ruth Miles, Bryony Timms, everybody's mums and dads, and many, many more wonderful people who have helped us along the way. Sorry if we've forgotten anyone, it takes a lot of cooks to bake an apple pie this big.

%p
  There's no hidden agenda or 
  = link_to('big company', organisation_path)
  behind this: just a group of collaborators promoting a cause we believe in. Read more about 
  = link_to('how we got here', how_we_got_here_path)
  if you're interested, and take a look at our 
  = link_to('media coverage', media_path)
  too.

%h3
  Want to help? Find out how you can 
  = link_to('join us', join_us_path) + "."
