%h1
  Who we are

%p
  Mindapples was founded by <a title="Andy Gibson, School of Everything, Sociability, Mindapples, Social by Social" href="http://sociability.org.uk/about/andy" target="_blank">Andy Gibson</a> in 2008, developed by Esther King, Hege Saebjornsen, Lauren Currie and Tessy Britton, and has now grown into a thriving social business with a strong network of supporters and advisers.

%h2
  Core Team (ho ho)

%ul
  %li
    Andy Gibson, Head Gardener
  %li
    Esther King, Head of Operations
  %li
    Nicola Bonnick Caldeira, Head for figures
  %li
    Dr Alex Fradera, Head full of research
  %li
    Gianna Goulding, Head girl
  %li
    Lisa Hunter, Board out of her mind
  %li
    Tanya Hunter, Head of seedlings
  %li
    Penny King, Head in her books
  %li
    Jenny Reina, Head of campaigns
  %li
    Owen Tozer, Head illustrator (literally: he draws the heads)
  %li
    Dan Kolodzeij, Bad apple
    
%h2
  Board of Directors

%p  
  We are very lucky to have an amazing Board of Directors and we're very sorry for calling them the 'Headboard'.

%ul
  %li
    David Gold (Chair), CEO of <a title="Prospectus" href="http://www.prospect-us.co.uk/">Prospectus</a>
  %li
    Robbie Cowbury, Project Manager at <a title="Pilot Light" href="http://www.pilotlight.org.uk/">Pilot Light</a>
  %li
    James Glover, HR Director at <a title="Trinity Hospice" href="http://www.trinityhospice.org.uk/">Trinity Hospice</a>
  %li
    Patrick Watt, Director, Corporate at <a title="Bupa UK" href="http://www.bupa.co.uk/">Bupa UK</a>
    
%h2
  Training faculty

%p  
  We employ a faculty of brilliant freelance trainers to deliver our training programmes, including:

%ul
  %li
    Dr Alex Fradera, business psychologist and neuroscientist
  %li
    Anna Golowski, corporate coach and trainer
  %li
    Lucy Kyle, trainer and facilitator
  %li
    Ben Metz, organisational psychotherapist and business consultant
  %li
    Hen Norton, trainer and facilitator
  %li
    Daljeet Singh, corporate trainer and personal development coach
  %li
    Dr Sam Spedding, DPsych clinical psychologist and psychotherapist
  %li
    Amanda Walderman, trainer and wellbeing adviser

%h2
  Advisory Board  

%p
  Over the last few years we've also been fortunate enough to have a pretty amazing set of people advising us, including:

%ul
  %li
    Andrew Brough, advising on the development of 
    = link_to('Mindapples Australia', international_path)
  %li
    Stephanie Drakes, Director, 23red
  %li
    Roger Edmonds, Marketing Manager, Pepsico
  %li
    Paul Fletcher, Partner, ACTIS, business mentor
  %li
    Nicky Forsythe, The Positive Therapy Company and creator of Talk for Health
  %li
    Peter Gibson, founder of <a title="Philosophy Ideas" href="http://www.philosophyideas.com/">Philosophy Ideas</a> and Andy's dad
  %li
    John Grant, founder of <a title="St Lukes Communications" href="http://www.stlukes.co.uk/">St Lukes Communications</a> and <a title="Ecoinomy" href="http://www.ecoinomy.com/" target="_blank">Ecoinomy</a>
  %li
    Jamie Hancox, Sales consultant and CEO of <a title="Buying Time" href="http://www.buyingtime.co.uk/" target="_blank">Buying Time</a>
  %li
    Diane Herbert, HR Director at <a title="Channel 4" href="http://www.channel4.com">Channel 4</a>
  %li
    Bill Hicks, deceased comedian
  %li
    Sophie Howarth, founder of <a title="The School of Life" href="http://www.theschooloflife.com">the School of Life</a>
  %li
    Louise Marshall, Spring Law, commercial lawyer
  %li
    Colin Tate, an incredibly generous and knowledgeable man
  %li
    Richard Tyrie, Founder of <a href="http://www.goodpeople.co.uk">Good People</a>, commercial adviser

%h2
  Gardeners

%p
  And none of this would be possible without our fantastic family of volunteers, the Mindapples Gardeners:

%ul
  %li
    Amanda Gore, insights researcher
  %li
    Amisha Ghadiali, <a title="Amisha Ghadiali" href="http://www.amisha.co.uk/" target="_blank">thinker, actor, voter</a>
  %li
    Ana Garcia, <a title="Ana Garcia, making the intangible tangible" href="http://www.helloanak.com/" target="_blank">artist and designer</a>
  %li
    Anna Maloney, chief blagger
  %li
    Annika Howells, Australian outpost
  %li
    Anton Chernikov, designer and <a title="Anton Chernikov, designer" href="http://www.exponentials.co.uk/" target="_blank">Exponential</a>
  %li
    Charles Davies, esoteric consultant
  %li
    Christine Hartland, film producer and networker extraordinaire
  %li
    Christine Lockhart, masseuse
  %li
    Felix Andrew, apple seller
  %li
    Hege Saebjornsen, photographer and business development adviser
  %li
    Helena Ambrosio, designer of the Mindapples Tree!
  %li
    <a title="Johanna de Mornay Davies" href="http://www.notanyoldjo.com/" target="_blank">Jo de Mornay Davies</a>, art director and author
  %li
    Jo Worsley, writer and mental health adviser
  %li
    Laura Yates, <a title="Laura Yates" href="http://www.laurayates.co.uk/" target="_blank">designer</a>
  %li
    Lauren Currie, <a title="Lauren Currie, Redjotter" href="http://redjotter.wordpress.com/" target="_blank">service designer</a>, and our first volunteer!
  %li
    Lucy Poulson, tigger
  %li
    Lucy White, <a title="West Lexham" href="http://www.westlexham.org/" target="_blank">West Lexham</a>
  %li
    Matt Carson, singer and tree carrier
  %li
    Dr Matt Self, Andy's mate who knows some stuff about neuroscience
  %li
    Marilena Reina, marketing adviser
  %li
    Ofordi Nabokei, policy adviser
  %li
    Ruta Marcinkus, events and research Swiss army knife and occasionally Andy's boss
  %li
    Susi Wright, festival adviser
  %li
    Tom Ten Thij, drummer and technical adviser

%p
  We'd also like to thank, in no particular order, Kris Morris (who did our first logo), Tom Ten Thij (who built our first website), Unboxed Consulting, Tony Coggins at SLaM NHS Trust (our first NHS partner), Lucy Smith at NHS Lambeth (our first NHS client), Laura Hyde, Austin Healey, Anne Rigby, Ollie Smith, Guys and St Thomas's Charity, Kumar Jacob, the Maudsley Charity, the RSA, Matthew Taylor, David Matthews, Eileen Sugrue, Paddy Watt (our loyal disc'apple), Bupa UK, Jo Alma, Lucy Pollard, Wendy Richardson, Shane Carmichael, Ariam Asghedom, Billy Dann, Laura Roling, Comic Relief, the Nominet Trust, Annika Small, Rohit Kumar, Laura Napier, Rich Crozier, Darren Guy, JP Morgan, Krushma Makwana, L'Oreal UK, Rohan Gunatillake, Laura Billings, Rose Casey-Challies, Kat Pesaran, Amber Donebauer, Rahima Hall, Cassie Robinson, Kerry McCarthy, Nina Burrowes, Sarah Drummond, Prof Daniel Freeman, Dr Martin Webber, Daulton Redmond, Student Minds, NSUN, UnLtd, Marjorie Thompson, BBC Careerlink, White Label PR, Delphine Reynaud, Courvoisier (our first sponsors), Crussh, SavvyCook, Positive Touch, Headspace, Limina, Secret Garden Party, Wilderness Festival, Latitude, Larmer Tree, The Big Chill, Edmund Colville, Ben de Vere, BiodiversiTea, Cargo, The JB Conspiracy, Strobe Circus, Bass6, YaSSon, Xperimental, Jacq Burns, Ravi Bagirathan, Sarah Tucker, Sangeet Gyawali, Laura Yates, Naomi Wynne-Morgan, Hannah Banting, Melanie Ball, Simon Lawton-Smith, Ian Gilmour, the Mental Health Foundation, Gregor Henderson, Public Health England, Nicola Stevenson, Sarah Walter, Helen Ainley, the NHS Confederation, The Royal Society for Public Health, Jonathan Campion, Kings Health Partners, Louise MacDonald, Young Scot, Gospelware, Young Minds, Henry Stewart, Rebecca Alexander, Maureen Rice, Yvonne Roberts, David Sillito, Madeleine Bunting, Julie Cross, Fred MacAulay, Prof Lord Richard Layard, Mark Williamson, Action for Happiness, the New Economics Foundation, The Work Foundation, Ilona Boniwell, Sam Aldenton, The Exchange, Sellar Development, the Hub Kings Cross, Dominic Campbell, Futuregov, Freeagent Central, Salesforce, Engauge, Sharliza Jelita, Drew Buddie, the Scatter Collective, All We Need, Anna Maybank, Social Innovation Camp, School of Everything, Spacemakers, Transition Town Brixton, Thames Festival, Nathalie Nahai, Tessy Britton, Robertson Cooper, Louise Aston, Business in the Community, Ross Hall, Henry Playfoot, Mark Boulding, Mind, Time to Change, Marcia Brophy, Merlin Evans, Euan Semple, JP Rangaswami, Paul Miller, Adam Gee, Melanie Hayes, Jo Taylor, Jon Kingsbury, Robin Murray, Si&acirc;n Croxton, Alice Tyler, Lea Simpson, Roanne Dodds, Mat Healey, Dan Martell, Heleana Quartey, Lisa Williams, Ruth Miles, Bryony Timms, everybody's mums and dads, and many, many more wonderful people who have helped us along the way. Sorry if we've forgotten anyone, it takes a lot of cooks to bake an apple pie this big.

%p
  There's no hidden agenda or big company behind us: just 
  = link_to('a group of collaborators', organisation_path)
  promoting a cause we believe in. Read more about 
  = link_to('our past projects', '/about/projects')
  and
  = link_to('how we got here', how_we_got_here_path)
  if you like, and maybe check out our 
  = link_to('media coverage', media_path)
  too. 
  
%h3
  Still got questions? Check out our 
  = link_to('Frequently Asked Questions', faqs_path) + "."
