%h1
  Training and staff development

%p
  %b
    Bridging the gap between mental wellness and performance training.
  
%p
  Mindapples teaches people how to use their minds effectively. We offer bite-size insights from experimental psychology and neuroscience about how our minds work and how to use them, covering essential topics from handling pressure to thinking creatively. Available in full programmes or as bespoke packages, each session is delivered by experienced trainers and packed with practical tools and techniques to increase your resilience and manage yourself and others better. 
  
%p
  Our clients include some of the biggest names in global business, including News UK, L'Oreal, JP Morgan and the Wellcome Trust. Our sessions are getting amazing feedback, with 
  %i
    over 90% of participants rating our sessions as "good" or "excellent" 
  and saying they will change their behaviour as a result of what they have learnt.
 
%p
  %i
    "I certainly found the approach novel and informative which is praise indeed having been to so many "stress management sessions"."
  %b
    Dr David Matthews, MB, BS, DRCOG, DOccMed, AFOM, FRCGP, Occupational Physician

%h2
  A Mind for Business

%h4  
  Developing the mental resources of your business

%p
  Our core programme covers all the key elements of how our minds work. In 1-hour sessions in groups of up to 30 participants, we share insights on motivation, creativity, influence, pressure and more, and work with staff to help them manage their minds successfully. We also offer these sessions as extended 90-minute executive sessions, facilitated by occupational psychologists and delivered in classroom sessions or via telepresence, to help your leaders transform your organisation and reach their mental potential.

%p
  %b
    = link_to ('Download a PDF of our masterclasses here', 'http://mindap.pl/MpJA0F')
    %br
    or
    %br
    = link_to ('contact us for pricing and further details', contact_path) + "."
  
%h2
  A Mind for Management

%h4  
  A six-week development programme for line managers

%p
  Strong managers are essential to any successful organisation. Excellent line managers attract exceptional staff, motivate people to succeed, increase innovation and lead happy and successful teams. Yet many line managers are struggling with increased pressure and asking more from their people. From motivation to innovation, modern managers need to understand management psychology to get the best from their staff.

%p
  This six-week programme teaches managers about the psychology of management. Delivered in six 90-minute masterclasses, perfect for high-pressure environments, this programme is aimed at anyone with line management responsibilities, particularly new managers, and provides an essential grounding on managing people and developing teams. 

%p
  %b
    = link_to ('Download the course outline here', 'http://mindap.pl/1mI3WQe')
    %br
    or
    %br
    = link_to ('contact us for pricing and further details', contact_path) + "."

%h2
  A Mind for Sales

%h4  
  A high-impact programme to give your sales team a lift

%p
  Selling is an emotional business. Staying positive under pressure, dealing with setbacks, influencing customers and managing stress, all take skill and energy. The Mind for Sales programme explains the latest psychology of selling. Delivered at your offices in high-impact masterclasses by experienced trainers, this programme is beneficial for sales teams and their managers and can help you work smarter and more sustainably. 

%p
  %b
    = link_to ('Download the course outline here', 'http://mindap.pl/1bPdbwD')
    %br
    or
    %br
    = link_to ('contact us for pricing and further details', contact_path) + "."

%br
%br
<div id="wufoo-s7x2r7">
</div>
<script type="text/javascript">var s7x2r7;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'mindapples', 
'formHash':'s7x2r7', 
'autoResize':true,
'height':'1072',
'async':true,
'header':'show'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { s7x2r7 = new WufooForm();s7x2r7.initialize(options);s7x2r7.display(); } catch (e) {}}
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>