%h1
  Learning & development

%p
  %b
    Bridging the gap between mental wellness and performance training.
  
%p
  Businesses spend a lot of money on the minds of their staff. From management training to induction programmes, businesses invest in their people, so that their minds perform better. Our training programmes introduce valuable knowledge about the human mind into businesses, and our engagement services embed lasting cultural change and help you bring the best out of your people. We aim to go beyond statutory staff healthcare to use wellness as the foundation for peak organisational performance. 
  
%h2
  A Mind for Business
  
%p
  %i
    A Mind for Business
  is an education programme from Mindapples that teaches people to use their minds effectively. It offers bite-size insights from experimental psychology and neuroscience about how our minds work and how to use them, covering essential topics from handling pressure to thinking creatively. Each session is delivered by experienced trainers and packed with practical tools and techniques to increase your resilience, improve your mental performance, and manage yourself and others better. 
  
%p
  Our sessions are getting amazing feedback, with 
  %b
    over 90% of participants rating our sessions as "good" or "excellent" 
  and the same number saying they will change their behaviour as a result of what they have learnt. Here's what we offer:
  
%p
  These sessions are available as 60-minute masterclasses or 'lunch and learns' for up to 35 people, and 90-minute small-group sessions with additional discussion time for up to 12 people (perfect for team away days).

%p
  %i
    "I certainly found the approach novel and informative which is praise indeed having been to so many "stress management sessions"."
  %br
  %b
    Dr David Matthews, MB, BS, DRCOG, DOccMed, AFOM, FRCGP, Occupational Physician

%p
  %b
    = link_to ('Download a PDF of our current masterclasses here', 'http://mindap.pl/MpJA0F')
    %br
    or
    %br
    = link_to ('contact us for pricing and further details', contact_path) + "."

%h2
  A Mind for Leadership
    
%p
  The 
  %i 
    A Mind for Business
  programme is also available in extended format for senior management teams. In 
  %b
    eight monthly 90-minute sessions, 
  we take your senior team through all the key elements of how our minds work, and work with them to examine how the working practices and management culture of the organisation could be adapted to get more from the minds of staff. This is a high-impact executive development programme, facilitated by occupational psychologists and delivered in classroom sessions or via telepresence, to help your leaders transform your organisation and reach their mental potential.
  
%p
  %b
    = link_to ('Contact us for pricing and further details', contact_path) + "."

%h2
  A Mind for Management

%h4  
  A six-week development programme for line managers

%p
  Strong managers are essential to any successful organisation. A good line manager will motivate staff, increase productivity, and lead happy and effective teams. Excellent managers attract exceptional staff, make you a preferred employer and can be the primary reason for leaving or staying in a company.

%p
  Line managers have a huge impact on the performance and wellbeing of staff. For example, a manager clearly articulating goals can 
  boost discretionary effort by 27.6% 
  %i
    (Hewitt Associates, 2011).
 	Yet 41 per cent of managers and 53 per cent of senior managers are seriously considering leaving their jobs 
  %i
    (Mercer, 2011)
  and many are struggling with increased pressures and the need to ask more of their people. From motivation to innovation, modern managers need to understand management psychology in order to get the best from their teams.

%p
  This six-week programme teaches managers about the psychology of management. It provides practical insights from neuroscience & psychology to help managers support people better and get the best from their teams. Delivered in bite-sized chunks, perfect for high-pressure environments, this is a fresh, innovative approach to develop your managers and help your people work smarter and reach their potential.

%p
  This programme is aimed at anyone with line management responsibilities, particularly new managers, and provides an essential grounding on managing people and developing teams. 

%p
  %b
    = link_to ('Download the course outline here', 'http://mindap.pl/1mI3WQe')
    %br
    or
    %br
    = link_to ('contact us for pricing and further details', contact_path) + "."

%h2
  A Mind for Sales

%h4  
  A high-impact four-week programme to give your sales team a lift

%p
  Selling is an emotional business. The pressure to meet targets, maintain pipelines and be the face of the business can have a huge impact on a sales team’s stress levels. Staying positive under pressure, dealing with setbacks, influencing customers, all take a lot of mental energy.

%p
  High-performing sales teams invest in the minds of their people. Research shows that increasing employee wellbeing can 
  increase sales by up to 9% 
  %i
    (IJSIM 14, 2003),
  and employees are 
  12% more productive 
  when in a positive mental state 
  %i
    (Warwick, 2010).

%p
  The Mind for Sales programme introduces all the key psychological components of selling. Delivered at your offices in a series of four engaging, interactive 75-minute masterclasses by experienced trainers, each session tells you what you need to know about how our minds work, and helps you apply this knowledge to how you sell. This is a fresh, innovative approach to help people work smarter and reach their mental potential.

%p
  This programme is aimed at sales teams and their managers, and has been specially designed to give your sales team a lift and enable them to work in a smarter and more sustainable way. 

%p
  %b
    = link_to ('Download the course outline here', 'http://mindap.pl/1bPdbwD')
    %br
    or
    %br
    = link_to ('contact us for pricing and further details', contact_path) + "."

%br
%br
<div id="wufoo-s7x2r7">
</div>
<script type="text/javascript">var s7x2r7;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'mindapples', 
'formHash':'s7x2r7', 
'autoResize':true,
'height':'1072',
'async':true,
'header':'show'};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { s7x2r7 = new WufooForm();s7x2r7.initialize(options);s7x2r7.display(); } catch (e) {}}
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>