%h1
  Help us grow

%p
  We need your help! Mindapples is a small organisation with a very big mission, and we rely on lots of wonderful people supporting our work and helping us grow. If you like what we do, here's how you can help us:
  
%h3
  Introduce us to your boss

%p
  We spend a third of our lives at work and yet more than half of us don't like our jobs 
  %i (Mercer, 2011). 
  Let's make work more inspiring. We sell 
  = link_to('a range of commercial services', services_path) 
  to help organisations support the mental wellbeing of staff and learn to work smarter and more sustainably. Our learning and development programmes are market leaders in mental effectiveness training, and we work with some of 
  = link_to('the biggest names in global business', testimonials_path) 
  and plenty of smaller organisations too, so we're pretty sure we can make your workplace better. If you know someone whose business needs a lift, drop us a line at 
  = link_to('mindforbusiness@mindapples.org', 'mindforbusiness@mindapples.org') + "."  

%h3
  Run your own mindapples event

%p
  The '5-a-day for your mind' concept is a simple one but it goes a long way. If you're passionate about mental wellbeing and want a positive, stigma-free way to talk about it in your organisation or local community, we sell pop-up trees and toolkits
  that make it easy for you to run your own mindapples event. These tools have been used by hundreds of organisations to engage thousands of people and work pretty much anywhere, so if you want to help us grow,  
  = link_to('check out our shop now', shop_path) + "."
  
%h3
  Volunteer for us
  
%p
  Our 
  = link_to('growing team', team_path)
  is always looking for volunteers and advisors to help us with organising events, typing up applecards, tweeting and blogging, helping with fundraising and lots of other fun, creative stuff. We like it when people write to us with specific offers of help, such as writing something for 
  = link_to('the Mindapples blog', 'http://blog.mindapples.org')
  or adapting our work for a particular purpose. Drop us a line telling us what you'd like to do, to
  = link_to('greenfingers@mindapples.org', 'mailto:greenfingers@mindapples.org') + "."
  We only have a small team responding to volunteering enquiries though, so please don't be offended if we take a while to reply!