%h1
  Wellbeing programmes

%p
  %b
    We combine our
    = link_to('engagement', engagement_path) + ","
    = link_to 'training', training_path
    and
    = link_to 'research', research_path
    tools into structured programmes to boost wellbeing and resilience in workplaces, local communities and the UK education system. 

%h2
  Mindapples for Business

%p
  In the knowledge economy, the performance of your business hinges on the performance of the minds of your staff. Recent studies have shown that staff are 22% less productive when in a negative rather than a positive state (
  %i
    University of Warwick, 2010
  ). We offer training and support to leaders and key workers to introduce knowledge about the human mind into the business, and embed lasting cultural change through our engagement and marketing tools. We also identify key insights into staff needs and work with employers to help them promote staff wellness and performance more effectively. We go beyond statutory staff healthcare to use wellness as the foundation for peak organisational performance. 
  = link_to('Contact us to find out how to bring the best out of your people', contact_path) + "."

%h2
  Mindapples for public health

%p
  Psychological wellbeing and mood regulation are at the heart of many of the most intractable public health issues in the UK today, from smoking and alcohol addictions to poor diet and obesity (
  %i
    see e.g. Thayer, The Origins of Everyday Moods
  ). We are now seeking research ethics and NHS research governance permissions to pilot Mindapples programmes in GP surgeries in Lambeth, in partnership with South London and Maudsley NHS Foundation Trust, NHS SE London and the Institute of Psychiatry, to determine whether Mindapples can help boost public health in communities around the UK. We are actively seeking partners interested in working with us to apply our engagement and training models to tackling health inequalities and increasing wellbeing levels in communities across the UK.

%p
  %i
    "We trialled out the initiative in the heart of Brixton and something about the tools really worked with people. Instead of telling people what they should do, the Mindapples approach starts a conversation with the public about what they do to feel good."
  %br
  Lucy Smith, Public Health Manager - Mental Wellbeing, NHS South East London

%h2
  Mindapples in universities

%p
  Mental health among students and graduates is becoming a pressing issue, with depression and anxiety continuing to rise and pressure increasing on student mental health services (
  %i
    see 
    = link_to ('Royal College of Psychiatrists, 2011', 'http://www.rcpsych.ac.uk/press/pressreleases2011/studentmentalhealth.aspx')
  ). Mindapples is working with partners including the School of Oriental and African Studies to improve the psychological wellbeing of students and build capacity in student bodies to offer preventative care and mental health promotion services. Our aim is to become a "DrinkAware" equivalent for promoting mental wellbeing in universities, and we are actively seeking opportunities to put our tools to use to support students and graduates in the UK.

%h2
  Mindapples in schools

%p
  Our engagement tools have proved consistently popular with children and young people from a wide range of backgrounds. The
  = link_to('Mindapples training programme', training_path) + ","
  which gives people a practical working knowledge of their minds to help them understand themselves and others better, is based on academic research in UK schools by Mindapples Co-founder Tessy Britton. We are actively seeking schools and education providers to work with us on promoting our 5-a-day message in schools, and mainstreaming our training content into the UK education system, to improve the psychological wellbeing, behaviour and academic attainment of children across the UK.

%p
  %b
    = link_to('Contact us now to discuss working together', contact_path) + "."

