%h1
  Wellbeing programmes

%p
  %b
    We combine our
    = link_to 'engagement', engagement_path
    ,
    = link_to 'training', training_path
    and
    = link_to 'research', research_path
    tools into structured wellness programmes to boost wellbeing and resilience in workplaces and communities. 

%h3
  Mindapples for Business

%p
  In the knowledge economy, the performance of your business hinges on the performance of the minds of your staff. We offer training and support to leaders and key workers to introduce new knowledge into the business, and embed lasting change through our engagement tools. We also analyse what staff say they need to be well and work with our clients to help them support staff wellness more effectively. If you want to go beyond staff health to use wellness to build peak organisational performance, 
  = link_to('contact us now', contact_path)
  about changing your organisation for the better.

%h3
  Mindapples for public health

%p
  Psychological wellbeing is at the heart of many of the most intractable public health issues in the UK today, from smoking and alcohol addictions to poor diet and obesity. We are now piloting Mindapples programmes in GP surgeries in Lambeth, in partnership with South London and Maudsley NHS Foundation Trust, NHS SE London and Kings College London, to determine how Mindapples can help boost public health in communities around the UK. We are seeking partners interested in funding and participating in further studies in mental wellbeing promotion and preventative care, to tackle health inequalities and boost the health and wellbeing of patients and the general population.

%p
  %b
    = link_to('Contact us to design a programme that works for you', contact_path) + "."

