= form.error_messages
%p
  = form.label 'Important bit. What are your five?'
  %ol
    %li
      = form.text_field :apple_1
    %li
      = form.text_field :apple_2
    %li
      = form.text_field :apple_3
    %li
      = form.text_field :apple_4
    %li
      = form.text_field :apple_5
%p
  = form.label :health_check
  %br
  = form.text_field :health_check
%p
  = form.label :famous_fives
  %br
  = form.text_field :famous_fives
%p
  = form.label :age_range
  %br
  = form.text_field :age_range
%p
  = form.label :country
  %br
  = form.text_field :country
%p
  = form.label :name
  %br
  = form.text_field :name
%p
  = form.label :email
  %br
  = form.text_field :email
%p
  = form.submit submit_message
