= form.error_messages
%p
  = form.label :apple_1
  %br
  = form.text_field :apple_1
%p
  = form.label :apple_2
  %br
  = form.text_field :apple_2
%p
  = form.label :apple_3
  %br
  = form.text_field :apple_3
%p
  = form.label :apple_4
  %br
  = form.text_field :apple_4
%p
  = form.label :apple_5
  %br
  = form.text_field :apple_5
%p
  = form.label :health_check
  %br
  = form.text_field :health_check
%p
  = form.label :suggested_people
  %br
  = form.text_field :suggested_people
%p
  = form.label :age_range
  %br
  = form.text_field :age_range
%p
  = form.label :country
  %br
  = form.text_field :country
%p
  = form.label :name
  %br
  = form.text_field :name
%p
  = form.label :email
  %br
  = form.text_field :email
%p
  = form.submit submit_message
