<p>
  <b>Apple 1:</b>
  <%=h @survey.apple_1 %>
</p>

<p>
  <b>Apple 2:</b>
  <%=h @survey.apple_2 %>
</p>

<p>
  <b>Apple 3:</b>
  <%=h @survey.apple_3 %>
</p>

<p>
  <b>Apple 4:</b>
  <%=h @survey.apple_4 %>
</p>

<p>
  <b>Apple 5:</b>
  <%=h @survey.apple_5 %>
</p>

<p>
  <b>Health check:</b>
  <%=h @survey.health_check %>
</p>

<p>
  <b>Suggested people:</b>
  <%=h @survey.suggested_people %>
</p>

<p>
  <b>Age range:</b>
  <%=h @survey.age_range %>
</p>

<p>
  <b>Country:</b>
  <%=h @survey.country %>
</p>

<p>
  <b>Name:</b>
  <%=h @survey.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @survey.email %>
</p>


<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
