.simple_form_box
  %h2
    Login
  .inner
    %h3 Log into your Mindapples account below
    %p.social_networks
      = link_to image_tag("icons/connect_with_facebook.png"),"/auth/facebook"
      = link_to image_tag("icons/connect_with_twitter.png"), "/auth/twitter"
    = render(:partial => "/shared/login_form")

.col_10of16
  .inner
    - form_tag password_resets_path do
      = label_tag 'email', 'Enter your email to receive instructions on how to set your password'
      = text_field_tag 'email'
      = submit_tag 'Send email'
    
