!!! strict
%html{ 'xmlns' => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", 'lang' => "en" }
  %head
    %meta{ 'http-equiv' => "content-type",  'content' => "text/html; charset=utf-8" }
    %title
      Mindapples new site concept
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'text'
    = stylesheet_link_tag '960'
    = stylesheet_link_tag 'mindapples'
    = javascript_include_tag 'jquery'
    = javascript_tag "jQuery.noConflict()"
  %body
    %h1
      Mindapples new site concept
    .container_12
      .grid_1
        &nbsp;
      .grid_8
        #content
          = show_flashes
          = yield
      .grid_2
        #sidebar
          This is the sidebar
          - when_logged_in do
            #login-box
              - if current_user.admin?
                You are admin
                %br
              = link_to current_user, user_path(current_user)
              = link_to 'logout', logout_path
          - when_not_logged_in do
            #login-box
              = link_to 'login', login_path
      .clear
        &nbsp;
